
<div class="container-fluid"> 
  <div class="container-fluid space-top padding-l-r-30 hover-effect">
      <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12">
              <div class="about-heading">
                  <h2 class="text-center">Welcome to Nijomee Technology</h2>
                  <p class="badge badge-primary">More About Us</p>
              </div>
              <p class="justified-text">
             Nijomee Technologies is a full- service based custom software service provider and best app development company in Rohtak-Haryana. We are a dedicated team of professional developers and business analysts, trusted by our esteem PAN India as well as overseas clients as a best mobile and web application development solution provider company. We utilize the top tech software services and latest technologies which in turn guarantees fantastic results for our  clients."Nijomee Technologies" is an ISO certified Private Limited company  commencing its operations for 3+ years in India and overseas. We take pride as a best software services provider company. Our highly dedicated and self-motivated team of professionals is always equipped with highly innovative solutions providing our client with a one-stop technology partner.

              </p>
              <p class="justified-text">
 We are an innovative technology solutions and service provider company, Headquarter in Rohtak?-?Haryana. Our highly dedicated and self-motivated team of professionals is always equipped with highly innovative solutions providing our client with a one-stop technology partner.

              </p>
          </div>
      </div>

  </div>
</div>

<div class="container-fluid box-padding hover-effect">

  <div class="row">
      <div class="col-md-6">
          <div class="about_img_block">
            <picture>
              <source type="image/webp" srcset="/assets/about.webp">
              <img class="about_img_block" src="/assets/about.jpg">
            </picture>
          </div>
      </div>
      <div class="col-md-6">
          <div class="about_content_block">
              <h3 class="res-space-top-50">Our Mission and Philosophy</h3>
              <p class="justified-text">
                 Nijomee Technologies aims a visionary approach towards the advancement of the business of our clients. The goal of our company is to provide best software, web and mobile application development services to our customers. Our out of the box solution oriented approaches never fails to deliver top app and web development business solutions to the clients. A  vital constituent of our business is to offer our clients a top level of customer satisfaction, which has been the driving force behind our continued growth and success.
              </p>
              <p class="justified-text">
                 Our mission is to provide highly optimized and scalable solutions which meets more than our client’s requirements. Not only  Delivering best software services but we also stood as a right business consultancy agency with our customers. Our philosophy of growing together and maintaining best work relations makes us a best software and mobile application  development company in Rohtak-Haryana.
              </p>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row why_choose_us hover-effect">
      <div class="">
          <div class="col-md-12">
              <h3 class="heading_h3">Why Choose Us</h3>
              <p class="justified-text">
                 At Nijomee we guarantees to give our customers a solution which fits best with all suitable measures like time, cost, quality and thus satisfaction. You can name us as Top software development company, best software development company, best web and mobile app development company in Rohtak-Haryana because with our best software and mobile app development services we provide best marketing consulting of client’s products. The customer is king, but collaboration is key. We believe in working together to find solutions that will make your company stand apart from the other players in your industry. And we like to make sure that you and we have a great time doing it!
              </p>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid smart_slider_wrapper  hover-effect">
  <div class="res-custom-row">
      <div class="col-md-12">
          <h3 class="heading_h3">Our Uniqueness Helps Us Earn Trust<br>
              Of Global Community</h3>
          <h1>WE ARE</h1>

          <div class="carousel smart_slider slide" >

              <!-- Indicators -->
              <div class="border_behind"></div>
              <div  [ngSwitch]="selectedValue">
              <ul class="carousel-indicators">
                  <li (click)="Specific()" class="active" >
                      <span>S</span>
                      <p>SPECIFIC</p>
                  </li>
                  <li (click)="Measurable()" >
                      <span>M</span>
                      <p>MEASURABLE</p>
                  </li>
                  <li (click)="AgreedUpTo()" >
                      <span>A</span>
                      <p>AGREED UPON</p>
                  </li>
                  <li (click)="Realistic()" >
                      <span>R</span>
                      <p>REALISTIC</p>
                  </li>
                  <li (click)="Timeframe()" >
                      <span>T</span>
                      <p>TIME FRAME</p>
                  </li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner padding-l-r-30 hover-effect">


                  <div class="carousel-item active"  *ngSwitchCase="1">
                      <h4>Specific</h4>
                      <p class="justified-text">We are small in size, and we see this as a unique advantage. We accept limited number of projects and giving our complete attention. Our size allows us to comfortably adapt to the culture of our clients, and become an extension of their team. We push for original thinking. We are about producing compelling work that adheres to only the highest standards..</p>
                  </div>
                  <div class="carousel-item active"  *ngSwitchCase="2">
                      <h4>Measurable</h4>
                      <p class="justified-text">We will give you creative idea to bring your campaigns to life and as always will throw in an abundance of friendly. As a leading digital agency we are able to offer a fully integrated service. You ensure your customers will get a consistent experience across all devices. : Customer Service is one of our key objectives. Unlike traditional agencies, we want our clients to have direct access to the people who are actually doing the work.</p>
                  </div>
                  <div class="carousel-item active"  *ngSwitchCase="3">
                      <h4>AGREED UPON</h4>
                      <p class="justified-text">We understand that your business needs and objectives may shift and change direction during the course of a given project or initiative. We are small in size which allows us to change focus need be without compromising the quality or timeline on a given task. Our clients needs come first, whatever you need at a given moment, we will make happen.</p>
                  </div>
                  <div class="carousel-item active"  *ngSwitchCase="4">
                      <h4>REALISTIC</h4>
                      <p class="justified-text">We believe in making the process as painless as possible for our clients. We have delivered original creative strategic solutions that have produced results for hundreds of businesses. We will dedicate an entire team of creative/art directors, designers, developers and copywriters to guarantee delivery.</p>
                  </div>
                  <div class="carousel-item active"  *ngSwitchCase="5">
                      <h4>TIME FRAME</h4>
                      <p class="justified-text">We start every new account by mapping out a brand driven communications strategy. Taking the time to understand your company, customers and competitors allows us to develop the most effective educational and marketing assets that will strengthen your competitive positioning. We focus on the benefits of a consistent marketing-oriented message.</p>
                  </div>
              </div>
              </div>
              </div>

      </div>
  </div>
</div>
<div class="container-fluid cont-divison space-bottom space-top values_block box-padding hover-effect">
  <div class="">
      <div class="text-center">
                <h2 class="heading_h3">Our Values</h2>
      </div>
      <div class="row all-services">
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">
                <i class="fas fa-medal"></i>
                  <p class="text-center text-black">Take pride in your work</p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">
                <i class="fa fa-calculator"></i>

                  <p class="text-center text-black">Be Accountable</p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">

                <i class="far fa-handshake"></i>
                  <p class="text-center text-black">Partner with others</p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card">
              <a routerLink="#">
                <i class="far fa-star"></i>
                  <p class="text-center text-black">Work with the best</p>
              </a>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 about-card style-brdr">
              <a routerLink="#">

                <i class="fas fa-hand-holding-heart"></i>
                  <p class="text-center text-black ">Deliver on your promises</p>
              </a>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 about-card style-brdr">
              <a routerLink="#">
                <i class="fa fa-key"></i>

                  <p class="text-black text-center">Tranparency is key</p>
              </a>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 about-card">
              <a routerLink="#">
                <i class="fab fa-keycdn"></i>

                  <p class="text-black text-center">Don't reinvent the wheel</p>
              </a>
          </div>
      </div>
  </div>
</div>

<!--testimonials-->

<div class="container-fluid box-padding testimonials hover-effect" >
  <div class="testimonials-wrapper">
      <div class="heading heading-white">
          <h2>Testimonial</h2>
          <p>Integrated Digital Solutions.</p>
      </div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="row">

          <div class="col-md-6">
            <div class="slide-caption">
              <div class="testimonials-left">
                <div class="client-profile">
                  <img src="assets/default.png" alt="amit-singal" title="Amit Singal" />
                </div>
              </div>
              <div class="testimonials-right">
                <div class="name-designation">
                  <h4>Mr. Amit Singal</h4>
                  <div class="border-testimonial"></div>
                  <small>Founder & CEO, StartupBuddy</small>
                </div>
                <div class="client-reviews">
                  <p class="text-white">Dedicated team and always responsive. We have got all our work on time and with
                    uttermost quality.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="slide-caption">
              <div class="testimonials-left">
                <div class="client-profile">
                  <img src="https://www.nijomee.com/images/default.png" alt="Finaxo , APS" title="Mr. Ankit Agarwal" />
                </div>
              </div>
              <div class="testimonials-right">
                <div class="name-designation">
                  <h4>Mr. Ankit Agarwal</h4>
                  <div class="border-testimonial"></div>
                  <small>Founder & CEO, Finaxo , APS</small>
                </div>
                <div class="client-reviews">
                  <p class="text-white">Nijomee as an IT partner has perfectly streamlined all our business flow into
                    digital platforms. Their efforts are always appreciable.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="row">
          <div class="col-md-6">
            <div class="slide-caption">
              <div class="testimonials-left">
                <div class="client-profile">
                  <img src="https://www.nijomee.com/images/defaultf1.jpg" alt="tulika arora" title="Tulika Arora" />
                </div>
              </div>
              <div class="testimonials-right">
                <div class="name-designation">
                  <h4>Mrs. Tulika Arora</h4>
                  <div class="border-testimonial"></div>
                  <small>Founder & CEO, lil Chunks</small>
                </div>
                <div class="client-reviews">
                  <p class="text-white">Great team with great enthusiasm. Team is always there to help at every level.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="slide-caption">
            <div class="testimonials-left">
            <div class="client-profile">
            <img src="https://www.nijomee.com/images/default.png" alt="Florecers" title="Lalit Gupta" />
            </div>
            </div>
            <div class="testimonials-right">
            <div class="name-designation">
            <h4>Mr. Lalit Gupta</h4>
            <div class="border-testimonial"></div>
            <small>Founder & CEO, Florecers</small>
            </div>
            <div class="client-reviews">
            <p>We have been looking for a perfect IT partner. Thanks Nijomee Technologies for givig us a hand of perfection and trust.</p>
            </div>
            </div>
            </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row">

            <div class="col-md-6">
              <div class="slide-caption">
              <div class="testimonials-left">
              <div class="client-profile">
              <img src="https://www.nijomee.com/images/default.png" alt="neel-singal" title=" Neel Singal" />
              </div>
              </div>
              <div class="testimonials-right">
              <div class="name-designation">
              <h4>Mr. Neel Singal</h4>
              <div class="border-testimonial"></div>
              <small>Founder & CEO, Nurilo</small>
              </div>
              <div class="client-reviews">
              <p class="text-white">Getting my site designed and running on my domain name was really a mess for me, Finally thanks to Nijomee.</p>
              </div>
              </div>
              </div>
              </div>
              <div class="col-md-6">
              <div class="slide-caption">
              <div class="testimonials-left">
              <div class="client-profile">

              <img src="https://www.nijomee.com/images/default.png" alt="adheesh-raj-bhalla" title="Deepak Dua" />
              </div>
              </div>
              <div class="testimonials-right">
              <div class="name-designation">
              <h4>Mr. Deepak Dua</h4>
              <div class="border-testimonial"></div>
              <small>Founder & CEO, My Dreamz World</small>
              </div>
              <div class="client-reviews">
              <p class="text-white">In starting we feel some hick ups with adopting technology, but now we are very much fine in it just due to Nijomee.</p>
              </div>
              </div>
              </div>
              </div>

          </div>

          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-6">
                <div class="slide-caption">
                <div class="testimonials-left">
                <div class="client-profile">
                <img src="https://www.nijomee.com/images/default.png" alt="adheesh-raj-bhalla" title="Adheesh Raj Bhalla" />
                </div>
                </div>
                <div class="testimonials-right">
                <div class="name-designation">
                <h4>Mr. Adheesh Raj Bhalla</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, Flyzer</small>
                </div>
                <div class="client-reviews">
                <p class="text-white">Regular updates for the work progress, Nijomme & the team have a great working culture with the organized structure to deliver things ON-Time.</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="slide-caption">
                <div class="testimonials-left">
                <div class="client-profile">
                <img src="https://www.nijomee.com/images/default.png" alt="Ripan Sehgal" title="Ripan Sehgal" />
                </div>
                </div>
                <div class="testimonials-right">
                <div class="name-designation">
                <h4>Mr. Ripan Sehgal</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, Tarot Teller</small>
                </div>
                <div class="client-reviews">
                <p class="text-white">
                Got Exhausted from fake hands, After a long way finally I met a team of game changers and experienced minds. They have proven their excellence and gave me what I was looking for. Thank you, guys.
                </p>
                </div>
                </div>
                </div>
                </div>

            </div>

            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-6">
                  <div class="slide-caption">
                  <div class="testimonials-left">
                  <div class="client-profile">
                  <img src="https://www.nijomee.com/images/default.png" alt="Sandeep Sehgal" title="Sandeep Sehgal" />
                  </div>
                  </div>
                  <div class="testimonials-right">
                  <div class="name-designation">
                  <h4>Mr. Sandeep Sehgal</h4>
                  <div class="border-testimonial"></div>
                  <small>Founder & CEO, Free Horoscope</small>
                  </div>
                  <div class="client-reviews">
                  <p class="text-white">NIjomee has really taken down all burden from my shoulders. I always worried about a stable solution, today my app has 10,000+ downloads without any failures. Thanks, team for giving such a level of satisfaction.</p>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <div class="slide-caption">
                  <div class="testimonials-left">
                  <div class="client-profile">
                  <img src="https://www.nijomee.com/images/default.png" alt="Anshu Bhatla" title="Anshu Bhatla" />
                  </div>
                  </div>
                  <div class="testimonials-right">
                  <div class="name-designation">
                  <h4>Mr. Anshu Bhatla</h4>
                  <div class="border-testimonial"></div>
                  <small>Founder & CEO, Bharat Glass</small>
                  </div>
                  <div class="client-reviews">
                  <p class="text-white">A solution-oriented company with experienced personalities. The team is always available to support. Kudos to the team.</p>
                  </div>
                  </div>
                  </div>
                  </div>


              </div>

              </ng-template>
      </owl-carousel-o>
  </div>
</div>
<app-quotation></app-quotation>

