.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
.mat-tab-label-content
{

    text-indent: 0 !important;
    height: 70px !important;
    width: 70px !important;
    background: #f8f8f8 !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 70px !important;
    font-size: 20px;
    display: inline-block !important;

}
