
 <!-- page content start-->
 <div class="container-fluid padding-all hover-effect">

  <div class="row service_img_content_block space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Cloud Computing </h3>
              <p class="justified-text">
                  With the Emergence of Data all around it becomes difficult to store large data in any small place. If you are worried about
                  your data, Nijomee Technologies provides highly scalable and performance-oriented cloud management solutions. Delivering 100%
                  reliable and extremely secure cloud solution we are dealing with Amazon AWS and Microsoft Azure like trusted platforms. Manage
                   your business planning and don't bother about your data Protection.

              </p>
              <p class="justified-text">
                  <b>Let see what your cloud software will be having :-</b>
              </p>
              <div class="row column-wrapper">
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Reduce Cost</li>
                              <li>Increase Productvity</li>
                              <li>Data Protection </li>
                              <li>Easily get your business insights</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Disaster Recovery</li>
                              <li>Automatic Software Updates</li>
                              <li>Sustainability</li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/cloud_computing_r.webp">
              <img src="assets/service/cloud_computing_r.png" class="center box bounce-2" alt="Cloud Computing" title="Cloud Computing">
            </picture>
          </div>
      </div>
  </div>
  <div class="row techno-logo space-bottom">
    <div class="col-md-12 ">
        <div class="container">
            <div class="row logo-row">
                <div class="col-md-12 icon-text">
                    <h1 class="icon-text pb-2">Technology Expertise</h1>
                </div>

                <div class="col-md-2 ">

                </div>
                 <div class="col-md-2 ">

                </div>
              <div class="col-md-2 ">
                <div class="logo-box">
                    <img class="logo-icon" src="assets/technology/icon/aws-logo.png" alt="aws logo" />
                    <p class="text-center pb-2">AWS</p>
                </div>
              </div>
              <div class="col-md-2 ">
                <div class="logo-box">
                    <img class="logo-icon" src="assets/technology/icon/azure-logo.png" alt="azure logo" />
                    <p class="text-center pb-2">Azure</p>
                </div>
              </div>
              <div class="col-md-2 ">

              </div>
               <div class="col-md-2 ">

              </div>
          </div>
        </div>
    </div>
</div>
  <div class="row service_img_content_block space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/cloud_arch.webp">
              <img src="assets/service/cloud_arch.png" class="center box bounce-2" alt="Cloud Architecture" title="Cloud Architecture">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Robust and flexible Cloud Architecture </h3>

              <p class="justified-text">
                  Jump into the most in-demand and cool technology, make your technical growth a rapid structure with our cloud experts. We will
                   be covering the whole journey with you, guide you at each step so that you can know - how we are adding value to your project.
                  Fully control your data, rapidly expand infrastructure with necessary cloud services, enjoy predictable SLAs, and notably
                  reduce operational costs.
              </p>
          </div>
      </div>
  </div>

  <div class="row service_img_content_block space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Promised Infra Managment  </h3>
              <p class="justified-text">
                  Let us give a well balanced cloud architecture to comfort you with high performance virtual data engineering practices.
                  Rapidly respond to market changes by procuring additional storage space and computational power in a matter of seconds,
                  not days.Utilize virtually unlimited cloud computing resources and powerful applications to perform your most demanding
                  operations rapidly and at a lower cost.
              </p>
          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source media="(min-width:465px)" type="image/webp" srcset="/assets/service/infra_mangement.webp">
              <img src="assets/service/infra_mangement.png" class="center box bounce-2" alt="Infra Managment" title="Infra Managment">
            </picture>

          </div>
      </div>
  </div>

  <div class="row service_img_content_block space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/cloud_developments.webp">
              <img src="assets/service/cloud_developments.png" class="center box bounce-2" alt="Battle-Proven Cloud Development" title="Battle-Proven Cloud Development">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Battle-Proven Cloud Development</h3>
              <p class="justified-text">
                  Empowering your solutions with cutting-edge cloud technologies to push the envelope in the game-changing domains of tomorrow,
                  including Artificial Intelligence, Blockchain. Giving you end-to-end support from cloud consultations to regular maintenance
                  we admire your time value and investments-This is what makes us so reliable and trustworthy & that's why you adapt our services.
              </p>
          </div>
      </div>
  </div>

</div>

<!-- page content end-->


<app-query-form></app-query-form>
