 <!-- page content start-->
 <div class="container-fluid padding-all hover-effect">

  <div class="row  space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>CMS Solutions</h3>
              <p class="justified-text">
                  Manage Everything or anything with our user-Friendly Content Management Systems. Our developed CMS is highly featured with
                  solution oriented approaches which also allows nontechnical customers to maintain their day to day work routines. NIjomee
                  technologies heavily concern about the easiness of user, so with our creative hands and technical minds, we stand one step
                  further in giving a solution directly meets the customer's requirements.

              </p>
              <p class="justified-text">
                  <b>Look what we have for you: - </b>
              </p>
              <div class="row column-wrapper">
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Help your business grow with our globally recognized vast range of CMS </li>
                              <li>Great User Interface to Manage your daily work</li>
                              <li>Provide you with the best suitable intelligent solutions  </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Powered with Latest and leading technolgies to make CMS more versatile</li>
                              <li>Enrolled Our best to meet your business demands</li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/cms_development_l.webp">
              <img src="assets/service/cms_development_l.png" class="center box bounce-2" alt="CMS Development" title="CMS Development">
            </picture>

          </div>
      </div>
  </div>


  <div class="row techno-logo space-bottom">
    <div class="col-md-12 ">
        <div class="container">
            <div class="row logo-row">
                <div class="col-md-12 icon-text">
                    <h1 class="icon-text pb-2">Technology Expertise</h1>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/dot-net-logo.png" alt="php logo" />
                      <p class="text-center pb-2">ASP .Net</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/php-logo.png" alt="php logo" />
                      <p class="text-center pb-2">PHP</p>
                  </div>
                </div>

                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/wordpress-logo.png" alt="wordpress logo" />
                      <p class="text-center pb-2">Wordpress</p>
                  </div>
                </div>

                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/Umbraco-logo.png" alt="Umbraco logo" />
                      <p class="text-center pb-2">Umbraco</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/Umbraco-logo.png" alt="Drupal logo" />
                      <p class="text-center pb-2">Drupal</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/magento-logo.png" alt="Magento logo" />
                      <p class="text-center pb-2">Magento</p>
                  </div>
                </div>
                </div>
                </div>

       </div>
  </div>

  <div class="row  space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/wordpres_development.webp">
              <img src="assets/service/wordpres_development.png" class="center box bounce-2" alt="WordPress Development" title="WordPress Development">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>WordPress Developement</h3>
              <p class="justified-text">
                  WordPress is a very widely used and popular framework used to build websites and Content management solutions. WordPress is
                  written in PHP along with MySQL or MariaDB databases. WordPress allows you to build a website that meets any kind of user
                  requirements. A user can start blogging, manage the business portfolio, start selling products online quickly.WordPress
                  allows you to choose your unique themes and start development over it.WordPress facilitates users with responsive, mobile-ready
                   & optimized website development for your business.
              </p>
              <div class="justified-text">
                  <b>Let see what your WordPress software will be having :-</b>
                  <ul class="service-list">
                      <li>Website Development & Customization</li>
                      <li>Setup & Implementation</li>
                      <li>Custom Theme Designing </li>
                      <li>Design Integration</li>
                      <li>Blog Development</li>
                      <li>Plugin Development</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>

  <div class="row  space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Magento Development</h3>

              <p class="justified-text">
                  Magento is an open-source platform use to build an E-commerce website. Magento gives online merchants a flexible shopping cart
                   system,  content, and functionality of online stores. To build a dynamic eCommerce website where users can easily manage all
                  its products, sell them, manage payments, and many other things, Magento offers everything in a single bowl.
              </p>
              <div class="justified-text">
                  <b>Let see what your Magento software will be having :-</b>
                  <ul class="service-list">
                      <li>Responsive Website</li>
                      <li>Theme Development</li>
                      <li>Custom Module Development </li>
                      <li>API Integration</li>
                      <li>Extention installation & upgradation</li>
                      <li>Easy to Maintanied</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/magento_development.webp">
              <img src="assets/service/magento_development.png" class="center box bounce-2" alt="magento Development" title="magento Development">
            </picture>

          </div>
      </div>
  </div>

  <div class="row  space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/drupal_developement.webp">
              <img src="assets/service/drupal_developement.png" class="center box bounce-2" alt="Drupal Development" title="Drupal Development">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Drupal Developement</h3>

              <p class="justified-text">
                  Drupal is the #1 platform for web content management for global enterprises, governments, higher education institutions, etc.
                   Drupal provides flexibility and high scalability where a user can share content in multiple languages. Drupal offers
                  Continuous digital innovations and a flexible platform that enables marketers and developers to overcome undue delays so
                  they can deliver you an amazing web experience.
              </p>
              <div class="justified-text">
                  <b>Let see what your Drupal software will be having :-</b>
                  <ul class="service-list">
                      <li>Web Applications</li>
                      <li>Modifying</li>
                      <li>Experiences</li>
                      <li>Development Technologies</li>
                      <li>Skills</li>
                      <li>Theme Development</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- page content end-->

<app-query-form></app-query-form>
