<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="assets/portfolio/mobile/vaudit.png" class="img-responsive box bounce-2" alt="Audit Assist" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #71407F  !important;">Audit Assist</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                        An Enterprise Auditing mobile app solution that will excites you the most designed and developed by Nijomee Technologies. A complete auditing app solution for any kind of business organization. Audit assist helps to manage all your auditing assets into a single place. This auditing app helps to reduce the time and manpower with features like segregate pending and completed records, syncing records, etc. Audit assist is a highly scalable auditing solutions which can be implemented at any small to big organization. Audit assist is specially designed to handle huge records to be audited by companies having a customer base of thousands. Audit assist was an idea before it came to us and we have proven our intelligence once again to our client. This mobile application facilitates the user with a smart approach to make their work done by just capturing the audit items, maintaining the records by evaluating the audited
                      </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<app-quotation></app-quotation>

