<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="assets/portfolio/mobile/vloanpe.png" class="img-responsive box bounce-2" alt="Astro Bazar" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #0A79A3  !important;">Loan Pe Money</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                        Loan Pe Money is the one-stop solution for instant loans and financial needs. Loan pe Money provides a user-friendly and quick way to apply Loans categorize into different loan types. Under Loan, pe Money users connect with verified loan providers and easily take care of the budgets and investments. This application provides complete transparency to its users concerning interest over every investment. Loan pe Money deals in different categories are it Personal loan, Home loan, Car Loan and many more.

                        Users can easliy validate details of loan providers and verify their profile on the detail page. This application commits to provide the fastest way to apply for a loan according to your personal need. Users will get all the required details on a single page. We reduce paperwork to the maximum and in few quick steps user will get its loan.
                      </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<app-quotation></app-quotation>

