
<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
  <div class="pl-5 pr-5 portfolio">
  <div class="row">
  <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <img src="assets/portfolio/mobile/vhall.png" class="img-responsive box bounce-2" alt="Book My Place">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="d-flex">
  <div class="heading">
  <h2 style="color: #cce6fe !important;">Book My Place</h2>
  <p>Something about user</p>
  </div>
  </div>
  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
  <h4 class="mb-2 mt-1">
  </h4>
  <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify"><br>
  Book My place is a one stop banquet hall booking mobile application developed by Nijomee Technologies. Book my place is a online marriage hall booking application allows specially designed for banquet hall owners. This application helps its banquet owners make easy management of the hall booking, staff management, calender management and more. As a online hall booking app, Book My Place also featured with appointment booking and invoice management solution. We have developed this solutions a service to resolve manual efforts of the users and easy management of booking. Nijomee Technologies has successfully launched this product as a service in the market of Canada. Our aim is to give best in-app experience and make life easy with our user friendly mobile applications.
  </p>
  </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-5 mt-3">
  <p class="white_color" style="color: #000 !important; padding-top: 0; text-align: justify">
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
<app-quotation></app-quotation>
