

 <!-- page content start-->
 <div class="container-fluid hover-effect">
  <div class="row padding-all  space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Software Development </h3>

              <p class="justified-text">
                  An Enterprise solution that can break complex problems into customizing solutions to offer you better work efficiency is
                  what we call real Software Development. We are a solution-oriented company which has enough capabilities to deliver you
                  In - budget technical software in your pocket. We trust ourselves in giving a full packed service highly responsive and
                  best-designed software so you can optimize your business quality and automat your work life with technical hands.

              </p>
              <p class="justified-text">
                  <b>See what we have for you :-</b>
              </p>
              <div class="row column-wrapper">
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Responsive Design for Desktop and Tablets</li>
                              <li>Optimized data with User-Friendly Interface</li>
                              <li>Easy to Understand Softwares structure</li>
                              <li>Better reach for even nontechnical users</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-lg">
                      <div class="service-content">
                          <ul class="service-list">
                              <li>Automated work flows to save your precious time</li>
                              <li>Provides Online and Offline connectivity with the Database </li>
                              <li>A helping hand for your daily activities</li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/software_app_development.webp">
              <img src="assets/service/software_app_development.png" class="center box bounce-2" alt="Software Development" title="Software Development">
            </picture>
          </div>
      </div>
  </div>

 <div class="row padding-l-r-30 padding-t-b-30 techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                      <h3 class="heading_h3 pb-4 text-center ">Technology Expertise</h3>
                    </div>


                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/angular-logo.png" alt="angular logo" />
                        <p class="text-center pb-2">Angular</p>
                    </div>
                  </div>


                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/material-logo.png" alt="material logo" />
                        <p class="text-center pb-2">Material Design</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/dot-net-logo.png" alt="dot net logo" />
                        <p class="text-center pb-2">ASP .Net</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/microsoft-crm-logo.png" alt="microsoft crm logo" />
                        <p class="text-center pb-2">Microsoft Dynamics CRM </p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/mongo-logo.png" alt="mongo dblogo" />
                        <p class="text-center pb-2">Mongo DB</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/nodejs-logo.png" alt="nodejs logo" />
                        <p class="text-center pb-2">NodeJS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/aws-logo.png" alt="aws logo" />
                        <p class="text-center pb-2">AWS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/azure-logo.png" alt="azure logo" />
                        <p class="text-center pb-2">Azure</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/php-logo.png" alt="php logo" />
                        <p class="text-center pb-2">PHP</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/react-logo.png" alt="react logo" />
                        <p class="text-center pb-2">React</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/wordpress-logo.png" alt="wordpress logo" />
                        <p class="text-center pb-2">Wordpress</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/umbraco-logo.png" alt="Umbraco logo" />
                        <p class="text-center pb-2">Umbraco</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/drupal-logo.png" alt="Drupal logo" />
                        <p class="text-center pb-2">Drupal</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/magento-logo.png" alt="Magento logo" />
                        <p class="text-center pb-2">Magento</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/python-logo.png" alt="wordpress logo" />
                        <p class="text-center pb-2">Python</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/sql-logo.png" alt="SQL Server" />
                        <p class="text-center pb-2">SqlServer</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/mean-logo.png" alt="Mean Stack logo" />
                        <p class="text-center pb-2">Mean Stack</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/full-stack-logo.png" alt="Full Stack logo" />
                        <p class="text-center pb-2">Full Stack</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 icon-text">
      <h3 class="heading_h3 pb-2 text-center ">Strategy from How It Looks to How It Works!</h3>

  </div>
    <div class="row bg-gray abstract-section padding-t-p-30 ">

      <div class="col-md-12 text-center">

          <img src="assets/service/infographics/software-development.png" alt="software development Infographic" />
      </div>
  </div>
  <div class="row padding-all  space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/road_digi.webp">
              <img src="assets/service/road_digi.png" class="center box bounce-2" alt="Road to Digitalization" title="Road to Digitalization">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Road to Digitalization</h3>

              <p class="justified-text">
                  Compete into the market with your own top-grade software solution. Get into the world of high tech automation and accelerate
                  your working portfolio with quality ensured custom software applications. Nijomee Technologies is a leading software
                  development company that takes up your manual journey to the world of innovations, automation, and time-saving developed
                  products.
              </p>
          </div>
      </div>
  </div>

  <div class="row padding-l-r-30 padding-t-b-30 space-bottom">
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Optimized Business Process</h3>

              <p class="justified-text">
                  Take a higher vision of new business opportunities and establish your idea as a brand. Our low-risk approach and strong
                  development models race up your digital transformation and open a new path of which can be easily achieved by technical
                  routes. Expand limits of mind and give way to the concepts of unrealistic endeavor to make them real now.
              </p>
          </div>
      </div>
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/optimize_business_process.webp">
              <img src="assets/service/optimize_business_process.png" class="center box bounce-2" alt="Optimized Business Process" title="Optimized Business Process">
            </picture>

          </div>
      </div>
  </div>

  <div class="row padding-l-r-30  padding-t-b-30 space-bottom">
      <div class="col-md-6 option">
          <div class="service_img_bloc">
            <picture>
              <source type="image/webp" srcset="/assets/service/success_excellence.webp">
              <img src="assets/service/success_excellence.png" class="center box bounce-2" alt="Succeed with Technical Excellence" title="Succeed with Technical Excellence">
            </picture>

          </div>
      </div>
      <div class="col-md-6">
          <div class="service_content_block">
              <h3>Succeed with Technical Excellence </h3>

              <p class="justified-text">
                  Excellently achieve your final solution & roll out with extra pace to compete with your competitors more confidently. Quickly
                   launch your product because the market doesn't respect late comers. Grab your audience, enhance your market, and take long
                  term advantage. Feel free for integrating new features and satisfy your customer's requirements. We follow AGILE methodology
                  for developing products so, Continue adding up new features is never expensive.
              </p>
          </div>
      </div>
  </div>

</div>

<!-- page content end-->


<app-query-form></app-query-form>
