
    <!-- page content start-->
    <div class="container-fluid padding-all hover-effect">

      <div class="row  space-bottom">
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>UI-UX Designer</h3>
                  <p class="justified-text">
                      Build your own customizable solution with the most expertise development approach, We are serving in more than 10 business
                      domains. Our senior directors and well-established team of Developers in {{city}} have a concrete methodology to make a robust system
                      that enables our customers to tackle any challenges.
                  </p>
                  <div class="justified-text">
                    <b>Let's know more about our offerings : -</b>
                    <ul class="service-list">
                        <li>Best responsive designs to grab more customers</li>
                        <li>HTML5 + CSS3 Development for a better performance</li>
                        <li>dynamically designed websites</li>
                        <li>Empowered with latest technolgies using Angular , React framworks.</li>
                        <li>WordPress Development</li>
                        <li>Social Media Landing Pages</li>
                        <li>Variety of template designing services</li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6 option">
              <div class="service_img_bloc">
                <picture>
                  <source type="image/png" srcset="/assets/service/ui-ux-logo.png">
                  <img src="assets/service/ui-ux-logo.png" class="center box bounce-2" alt="Web Application Development" title="Web Application Development">
                </picture>

              </div>
          </div>
      </div>
      <div class="row techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                        <h1 class="icon-text pb-2">Technology Expertise</h1>
                    </div>

                   <div class="col-md-2 ">
                      <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/html-logo.png" alt="html logo" />
                        <p class="text-center pb-2">Html 5</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/css-logo.png" alt="css logo" />
                        <p class="text-center pb-2">CSS 3</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/bootstrap-logo.png" alt="bootstrap logo" />
                        <p class="text-center pb-2">Bootstrap</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/tailwind-logo.png" alt="tailwind logo" />
                        <p class="text-center pb-2">Tailwind CSS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/angular-logo.png" alt="angular logo" />
                        <p class="text-center pb-2">Angular</p>
                    </div>
                  </div>

                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/material-logo.png" alt="material logo" />
                        <p class="text-center pb-2">Material Design</p>
                    </div>
                  </div>
                    <div class="col-md-2 ">
                    <div class="logo-box">

                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/xd-logo.png" alt="dot net logo" />
                        <p class="text-center pb-2">Adobe XD</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/illustrator-logo.png" alt="microsoft crm logo" />
                        <p class="text-center pb-2">Adobe Illustrator</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/photoshop-logo.png" alt="mongo dblogo" />
                        <p class="text-center pb-2">Adobe Photoshop</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/figma-logo.png" alt="nodejs logo" />
                        <p class="text-center pb-2">Figma</p>
                    </div>
                  </div>


              </div>
            </div>
        </div>
    </div>

  </div>

  <!-- page content end-->


  <app-query-form></app-query-form>
