
    <!-- page content start-->
    <div class="container-fluid hover-effect">

      <div class="row padding-all space-bottom">
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>UI-UX Designer</h3>
                  <p class="justified-text">
                    Designs that make you love at first sight. We at Nijomee, are the most bizarre and
                    creative for the first step for any product/brand development in {{city}}. We believe a great design
                    can attract blunt minds. In our UI/UX design process, we specially take care of the user’s
                    journey and easiness of the product. Our design experts have enough ideas to give the brand a perfect shape.
                     We are awesome in our designs and we know you will be saying it soon.


                    </p>
                    <p class="justified-text">
                      At Nijomee, we offer best UI/UX design services be them from any category
                      like responsive web designs, brand logos, mobile app designs, business classify, promotional
                       designs and more. With our creative hands, we use the latest and most preferred design tools
                        without any compromise. We understand the necessity of today’s market and we never step back from
                         the competition in delivering best in market and super cool designs exactly meeting your expectations.
                          Designs those are compromises of simplicity, attractiveness, user-friendly, manageable and product
                          demanding are our expertise as best UI/UX design services provider company in {{city}}.
                    </p>
                  <!-- <div class="justified-text">
                    <b>Let's know more about our offerings : -</b>
                    <ul class="service-list">
                        <li>Best responsive designs to grab more customers</li>
                        <li>HTML5 + CSS3 Development for a better performance</li>
                        <li>dynamically designed websites</li>
                        <li>Empowered with latest technolgies using Angular , React framworks.</li>
                        <li>WordPress Development</li>
                        <li>Social Media Landing Pages</li>
                        <li>Variety of template designing services</li>
                    </ul>
                  </div> -->
              </div>
          </div>
          <div class="col-md-6 option">
              <div class="service_img_bloc">

                  <img src="assets/service/ui-ux-logo.svg" class="center box bounce-2" alt="Web Application Development" title="Web Application Development">


              </div>
          </div>
      </div>
      <div class="row padding-l-r-30  padding-t-b-30 techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                        <h1 class="icon-text pb-2">Technology Expertise</h1>
                    </div>

                   <div class="col-md-2 ">
                      <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/html-logo.png" alt="html logo" />
                        <p class="text-center pb-2">Html 5</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/css-logo.png" alt="css logo" />
                        <p class="text-center pb-2">CSS 3</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/bootstrap-logo.png" alt="bootstrap logo" />
                        <p class="text-center pb-2">Bootstrap</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/tailwind-logo.png" alt="tailwind logo" />
                        <p class="text-center pb-2">Tailwind CSS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/angular-logo.png" alt="angular logo" />
                        <p class="text-center pb-2">Angular</p>
                    </div>
                  </div>

                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/material-logo.png" alt="material logo" />
                        <p class="text-center pb-2">Material Design</p>
                    </div>
                  </div>
                    <div class="col-md-2 ">
                    <div class="logo-box">

                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/xd-logo.png" alt="dot net logo" />
                        <p class="text-center pb-2">Adobe XD</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/illustrator-logo.png" alt="microsoft crm logo" />
                        <p class="text-center pb-2">Adobe Illustrator</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/photoshop-logo.png" alt="mongo dblogo" />
                        <p class="text-center pb-2">Adobe Photoshop</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/figma-logo.png" alt="nodejs logo" />
                        <p class="text-center pb-2">Figma</p>
                    </div>
                  </div>


              </div>
            </div>
        </div>
    </div>
    <div class="row padding-l-r-30  padding-t-b-30 techno-logo space-bottom">
      <div class="col-md-12 ">
          <div class="container">
              <div class="row logo-row">
                  <div class="col-md-12 icon-text">
                    <h3 class="heading_h3 pb-4 text-center ">Technology Expertise</h3>
                  </div>


                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/android-logo.png" alt="android logo" />
                      <p class="text-center pb-2">Android</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/ios-logo.png" alt="ios logo" />
                      <p class="text-center pb-2">IOS</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/swift-logo.png" alt="native logo" />
                      <p class="text-center pb-2">Swift</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/kotlin-logo.png" alt="native logo" />
                      <p class="text-center pb-2">Kotlin</p>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/hybrid-logo.png" alt="hybrid logo" />
                      <p class="text-center pb-2">Hybrid</p>
                  </div>
                </div>

                <!-- <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/react-logo.png" alt="react logo" />
                      <p class="text-center pb-2">React Native</p>
                  </div>
                </div> -->
                <div class="col-md-2 ">
                  <div class="logo-box">
                      <img class="logo-icon" src="assets/technology/icon/flutter-logo.png" alt="flutter logo" />
                      <p class="text-center pb-2">Flutter</p>
                  </div>
                </div>

            </div>
          </div>
      </div>
  </div>
  <div class="col-md-12 icon-text">
    <h3 class="heading_h3 pb-2 text-center ">Strategy from How It Looks to How It Works!</h3>

</div>
  <div class="row bg-gray abstract-section padding-t-p-30 ">

    <div class="col-md-12 text-center">

        <img src="assets/service/infographics/mobile-development.png" alt="App development Infographic" />
    </div>
</div>
  </div>
  <div class="row padding-all space-bottom">
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/ui-ux-road.svg" class="center box bounce-2"
            alt="UI/UX Designs Professional Road Map" title="UI/UX Designs Professional Road Map">

      </div>
    </div>
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>UI/UX Designs Professional Road Map</h3>
        <p class="justified-text">
          The plan is the important aspect to make any accomplishment. Our design experts are very much disciplined
           towards the work quality and we performed it in the best way. Before engaging directly in the designs, we would like to
           dive into understanding product voyage and building a perfect foundation for the ultimate designs.
        </p>
        <div class="justified-text">
          <ul class="service-list">
            <li>	Analyzing each aspect of product demands and user journey.</li>
            <li> Make a complete pros and cons under our competitive analysis approach. </li>
            <li>	Building wireframes and mock-ups with professional UI tool kit for a perfect base design tier. </li>
            <li>  Pre-visualization of concept and product behavior. </li>
            <li> Building the perfect user interface for a perfect user journey</li>
          </ul>
        </div>
        <p class="justified-text pt-4">
          We have our great expertise on most modern and latest designing tools, includes Adobe Photoshop, Adobe AI,
           Adobe XD, Adobe Illustrator, Figma. To rule the front-end designs our hands are filled with latest technologies
            like HTML5, CSS3, Bootstrap, Tail wind CSS. Our designers are enough skill full in integrating custom themes with
             frameworks like angular, React. Implementation of creativity and awesomeness into designs is our
          core expertise along with best web and mobile app development company in {{city}}.
        </p>
      </div>
    </div>
  </div>


  <div class="row padding-l-r-30  padding-t-b-30 space-bottom">
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Our End-to-End Design Strategies and implementations </h3>
        <p class="justified-text">
          A top-notch designing solution loaded up with complete creativeness, originality, artistry,
           technology and experts’ minds. We curate best and most interactive product designs with a promise
           of delivering rightly created intact designs insights to make your product more powerful in extent
           of user interaction, impression, appearance and behavior.
        </p>
        <div class="justified-text">
          <p>Our Offered Services</p>
          <ul class="service-list">
            <li>Custom web designing</li>
            <li>	Mobile app designing</li>
            <li>	Product designing</li>
            <li>	Design prototyping/Wire framing</li>
            <li> Brand logo designing</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/ui-ux-design.svg" class="center box bounce-2" alt="End-to-End Design"
            title="End-to-End Design">


      </div>
    </div>
  </div>
  <!-- page content end-->

<!-- service differentiators section start-->
<div class="container-fluid padding-t-b-30 space-bottom space-top values_block box-padding-inner differentiators hover-effect">
  <div class="">
      <div class="text-center">
          <h2 class="heading_h1" style="font-weight: 700;">Why Nijomee for best product & UI/UX designs</h2>
      </div>
      <div class="row all-services">
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">

                  <img src="assets/service/user-experience.png" class="differentiators-img" alt="Amazing User Experience" title="differentiators-img">


                  <p class="text-center text-dark-gray">Amazing User Experience</p>
                  <p class="text-center">
                    This is why we are here, giving excellent user experience is the favorite part of our master designers. We are always ready to beat the challenges.
                  </p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">

                  <img src="assets/service/strategy.png" class="differentiators-img" alt="Product-accomplishment Strategy " title="differentiators-img">

                  <p class="text-center text-dark-gray">Product-accomplishment Strategy </p>
                  <p class="text-center">
                    We are always curious to take things out of the box and put them into the products with all heart. We know where to hit the hammer hard and break out the new ideas.
                  </p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card style-brdr">
              <a routerLink="#">

                  <img src="assets/service/expertise.png" class="differentiators-img" alt="Enormous Industry Expertise" title="differentiators-img">

                  <p class="text-center text-dark-gray">Enormous Industry Expertise </p>
                  <p class="text-center">
                    With 11+ years of experience of our master designers, we have immensely delivered up to the mark products with each having most fit and customized designs.
                  </p>
              </a>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 about-card">
            <a routerLink="#">

                <img src="assets/service/cost-effective.png" class="differentiators-img" alt="Cost-effective and Well-timed" title="differentiators-img">

                <p class="text-center text-dark-gray">Cost-effective and Well-timed</p>
                <p class="text-center">
                  We respect money and the time of our customers
                   and always aim to bring out simple to complex solution in an relevant time with most in-budget
                   & cost- effective solutions.
                </p>
            </a>
        </div>
      </div>
  </div>
</div>
<!-- service differentiators section end-->

  <app-query-form></app-query-form>
