<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class="pl-5 pr-5 portfolio">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <img src="assets/portfolio/mobile/vstyle.png" class="img-responsive box bounce-2" alt="The Style House" />
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #81aed1   !important;">The Style House</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <h4 class="mb-2 mt-1">
                      </h4>
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                         Nijomee Technologies hear the demand of the public. We are always solution-oriented and this pandemic has taught
                          everyone the truth of life "Nothing is important than our LIFE". Keeping in mind the safety and security of people
                           around the globe, We have launched our own product into the market. "The Style House" has the uniqueness to serve
                          the very basic needs of people like Hair cut, Beard grooming, Hair treatment, etc. <br /><br />Keeping in mind the concept of
                          social distancing, this Andriod and IOS mobile app allows users to book their salon appointments without going
                          outside. The Style House has all the features integrated in a very smartest way to save time and life. The Style
                           House allows users to register both via Manually or social channels like Facebook or Google.

                      </p>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-5 mt-3">
                  <p class="white_color" style="color: #000 !important; padding-top: 0; text-align: justify">
                      Keeping into consideration every person has their own favorite staff, this application gives the option to book an
                      appointment with your favorite staff.
                      <br /><br />
                      <b>Regiter yourself&nbsp;&nbsp;>>>&nbsp;&nbsp;Pick any service&nbsp;&nbsp;>>>&nbsp;&nbsp;Book appointmnet with your favorite
                      staff&nbsp;&nbsp;>>>&nbsp;&nbsp;Set Reminder and realx.</b>

                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<app-quotation></app-quotation>
