<div class="container-fluid  hover-effect">

  <div class="row padding-all space-bottom">
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Ios  Application Development</h3>
        <p class="justified-text">
          Touch the most premium sector of users with a Top-class top IOS development company and leverage the
          advantages of
          Uncompromising dynamic IOS applications. We make the apps on Swift which earlier using objective .
          Continuous updates for the IOS by Apple Inc make it a powerful, robust operating system for your devices.
          Nijomee Technologies is the best IOS development company in {{city}} that adheres to all the determined
          industry standards & turns out with an out-of-the-box solution that you can rely upon.
        </p>
        <p class="justified-text">
          <b>Inshort we have providing you a bundle of serivces which includes :- </b>
        </p>
        <div class="row column-wrapper">
          <div class="col-sm-12 col-lg">
            <div class="service-content">
              <ul class="service-list">
                <li>Great Responsive Ios App User Interface </li>
                <li>High end scalable and flexible Ios Apps Solution</li>
                <li>Deliver the Custom-Made Apps</li>
                <li>User-Friendly Apps with enrich UI/UX Design</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg">
            <div class="service-content">
              <ul class="service-list">

                <li>Native App and Hybrid App Development</li>
                <li>IOS verticals</li>
                <li>Swift , Xcode</li>
                <li>Lates IOS version support</li>
                <li>IPad & IMAC applications</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/ios_app_dev.svg" class="center box bounce-2" alt="Ios App Development"
            title="Ios App Development">

      </div>
    </div>
  </div>
 <div class="row padding-l-r-30  padding-t-b-30 techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                      <h3 class="heading_h3 pb-4 text-center ">Technology Expertise</h3>
                    </div>

                    <div class="col-md-2 ">

                    </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/ios-logo.png" alt="ios logo" />
                        <p class="text-center pb-2">IOS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/swift-logo.png" alt="native logo" />
                        <p class="text-center pb-2">Swift</p>
                    </div>
                  </div>

                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/hybrid-logo.png" alt="hybrid logo" />
                        <p class="text-center pb-2">Hybrid</p>
                    </div>
                  </div>


                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/flutter-logo.png" alt="flutter logo" />
                        <p class="text-center pb-2">Flutter</p>
                    </div>
                  </div>

              </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 icon-text">
      <h3 class="heading_h3 pb-2 text-center ">Strategy from How It Looks to How It Works!</h3>

  </div>
    <div class="row bg-gray abstract-section padding-t-p-30 ">

      <div class="col-md-12 text-center">

          <img src="assets/service/infographics/mobile-development.png" alt="Ios development Infographic" />
      </div>
  </div>

  <div class="row padding-all space-bottom">
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/android_app_dev.svg" class="center box bounce-2"
            alt="Andriod Application Development" title="Andriod Application Development">

      </div>
    </div>
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Andriod App Development</h3>

        <p class="justified-text">
          Android software development is the process by which applications are created for devices running the Android
          operating system.
          To intended smart applications for touch screen phones and Tablets, Android is the prioritized platform for
          development.
          Android uses the Java language environment with enriching frameworks to develop innovative apps.

          <br>
          Nijomee Technologies a top Android app development company leads the core Android application development with
          the best team and procedures.
          As a leading best android development company in {{city}}, we have handed over multiple Android apps in more
          than 6 different business verticals.
        </p>
        <div class="justified-text">
          <ul class="service-list">
            <li>Andriod Studio</li>
            <li>Java</li>
            <li>Support for latest andriod verisons</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- page content end-->

<app-query-form></app-query-form>
