.header1
{
height: 600px !important;
background: #3abfff;
padding: 10px;
position: relative;
width: 100%;

}
.hi{
  top:30% !important;
  position: absolute;

left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
text-align: center;
}
