<!-- career feature section start-->
<div class="container-fluid padding-l-r-30 hover-effect">
  <div class="space-top">
    <div class="row career_img_block space-bottom">
      <div class="col-md-6">
        <div class="career_img">
          <picture>
            <source type="image/webp" srcset="/assets/carrer/carrer-top.webp">
            <img class="career-1" src="/assets/carrer/carrer-top.png" alt="carrer"  title="carrer" >
          </picture>

        </div>
        <div class="career_text">
          <picture>
            <source type="image/webp" srcset="/assets/carrer/carrer-icon.webp">
            <img  src="/assets/carrer/carrer-icon.png" alt="carrer"  title="carrer" >
          </picture>

          10+
          Creative People
        </div>
        <div class="career_img">
          <picture>
            <source type="image/webp" srcset="/assets/carrer/carrer-bottom.webp">
            <img class="career-2" src="/assets/carrer/carrer-bottom.png" alt="" title="" />
          </picture>

        </div>
      </div>
      <div class="col-md-6">
        <div class="career_content_block">
          <h3>Why Join Us ? </h3>
          <p class="justified-text">
            We at Nijomee Follow best practices and the latest industrial standards to cope with deep tech Software
            Solutions. We are
            proud of our services and throughout the way, we have achieved multiple milestones. Being a startup we have
            very great
            client segments covering both National as well international clientage. Started as a service-based company,
            Nijomee
            Technologies successfully launched its own custom products into the Indian, Australian, and Canadian
            markets. Nijomee
            has established itself with global co-ordinates in Canada and Australia & now we are Increasing our team
            globally.<br />
            <br />

            We are looking for candidates who are highly passionate about their career growth and think of themselves as
            Game Changer.
            So, If you think yourself a Potential Candidate, Apply for the positions below and speak out your Skills.
            Exciting
            challenges and Solution-oriented approaches are waiting for you.
          </p>
          <div class="justified-text">
            <ul class="career-list">
              <li>Analytical Thinking.</li>
              <li>Team Player and a self-starter.</li>
              <li>Open to new opportunintes</li>
              <li>Great learner & Pro active </li>
              <li>Dedicated towards work & timelines.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- career section content end-->

<!-- job section start-->
<div class="container-fluid padding-l-r-30 hover-effect job_section"
  style="padding-bottom: 65px!important; padding-top: 50px!important;">
  <div class="container">
    <div class="job-head">
      <h3>The most needed right now.</h3>
    </div>
    <div class="job-content row col-md-12">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Angular Developer</h4>
            <p>Junior</p>
            <p>Experience: 1 - 2 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-angular-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Android Developer</h4>
            <p>Junior</p>
            <p>Experience: 1 - 2 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-android-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Android Developer</h4>
            <p>Senior</p>
            <p>Experience: 3 - 6 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-android-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>IOS Developer</h4>
            <p>Junior</p>
            <p>Experience: 1 - 4 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-ios-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>IOS Developer</h4>
            <p>Senior</p>
            <p>Experience: 3 - 6 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-ios-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Web Designer</h4>
            <p>Junior</p>
            <p>Experience: 1 - 4 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-web-designer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Dot Net Developer</h4>
            <p>Junior</p>
            <p>Experience: 1 - 2 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-dot-net-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 job-col-wrapper">
        <div class="job-col">
          <div class="job-text-block">
            <h4>Mean Stack Developer</h4>
            <p>Junior</p>
            <p>Experience: 3 - 6 Year</p>
            <div class="row">
              <div class="col-md-6">
               <mat-icon class="text-primary">access_alarms</mat-icon>
              <span class="text-black">Full Time</span>

              </div>
              <div class="col-md-6">
                <mat-icon class="text-primary">place</mat-icon>
              <span class="text-black">Onsite</span>
              </div>
              </div>
          </div>

          <div class="job-col-wrapper">
            <a class="learn-btn " routerLink="/job-details-mean-stack-developer">
              <h6> Explore More <i class="fa fa-arrow-right"></i> </h6>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- job section end-->

<!-- career feature section start-->
<div class="container-fluid padding-l-r-30 hover-effect">
  <div class="space-top">
    <div class="row career_img_block space-bottom">
      <div class="col-md-6">
        <div class="career_content_block">
          <h3>Quarterly Increment</h3>
          <p class="justified-text">
            In Nijomee we believe that hard work should pay off. We at Nijomee Technologies work with great enthusiasm
            to achieve
            challenges. Efforts are never countless in our eyes and we never step back to fulfill the needs of our
            teammates. Regular
            incentives, or Quarterly increment, and work bonus, comes in the hand of our team without any negotiation.
            Those who are part
            of our journey and those who will be joining us, we commit to giving them a healthy life and a wealthy
            future. Exploring
            technical knowledge along with real-time challenges plus deserving salary is the baseline for the
            satisfaction of Team
            Nijomee.
          </p>
          <div class="justified-text">
            <ul class="career-list">
              <li>Double appraisal window with quarterly rewards.</li>
              <li>Work bonus with appritiation letter.</li>
              <li>Ocassional rewards.</li>
              <li>Decent salary hike.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="career_img">
          <img class="center career-4" src="https://www.nijomee.com/images/carrer-4.png" alt="" title="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- career section content end-->
<app-query-form></app-query-form>
