<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="assets/portfolio/mobile/vmoney_reel.png" class="img-responsive box bounce-2" alt="Money Reel" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #009EFF  !important;">Money Reel</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                        Money Reel is the fastest and most reliable loan application platform that provides instant loan facilities to users. Money Reel provides a range of verified loan providers & Users can connect with them directly without worrying about any third-party person or financial broker. Money Reel skips a major part of the paperwork and makes applicability super easy for its customers. This application allows users to apply for any kind of financial loan application which includes credit loan applications, car loan applications, personal loans, and more. Money Reel gives proper transparency between customers and loan vendors, customers can look into the loan provider's profiles and call them directly without any additional involvement of a third person.
<br><br>
For any kind of query, users can make a Service Request where they can ask for any query and get the response to every question. Money Reel as a loan application provider app saves time for its users and allows them optimum utilization of all the features provided in the application.
                      </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<app-quotation></app-quotation>

