<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class="pl-5 pr-5 portfolio">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   <img src="assets/portfolio/mobile/vtarot-read.png" class="img-responsive box bounce-2" alt="Free Horoscope 2" />
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #1956bd !important;">Tarot Reading</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <h4 class="mb-2 mt-1">
                      </h4>
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                          "Tarot Reading" allows its users to get a real experience of their zodiac signs. Moreover, this app offers services like Horoscope, daily tarot reading, one card reading, love & relationship reports, and many other features. Tarot reading makes you to take a chance about your luck and see what your stars tells to you.

                      </p>
                      <p><b>What you are getting here :- </b></p>
              <ul>
                  <li>See your Daily Horoscope </li>
                  <li>Love & relationship cards </li>
                  <li>Career & Business card readings and more</li>
                  <li>Ask questions to Experts </li>
                  <li>Share cards among your connections</li>
              </ul>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-5 mt-3">
                  <p class="white_color" style="color: #000 !important; padding-top: 0; text-align: justify">

                  Tarot Reading is one of the highly choosen Tarot reading application, which is very much accurate to users zodiac signs. Tarot reading is Administratored by experienced tarot tellers who can provide you solutions of every questions in your mind.

                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<app-quotation></app-quotation>
