<div class="container-fluid page-intro">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class="pl-5 pr-5 portfolio">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <img src="https://www.nijomee.com/images/screenshot/mobile/vsky.png" class="img-responsive box bounce-2" alt="Sky Live" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #36d1fd !important;">Sky Live</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <h4 class="mb-2 mt-1">"A CRM in your hands"
                      </h4>
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify"><br />
                      Sky live is a CRM system developed by Nijomee Technologies. A customer- relationship management system integrated with features like managing ledger, managing customers, stock transactions, cash transaction, managing workflow, stock transfer management, etc. Sky live is one of the most dynamic and scalable CRM system, in which you can track each and every activities of customer. In Sky live mobile applications we have provided a very handy approach with admin mobile login feature as well. This CRM (Customer Relationship Management ) System facilitates users to manage their inventory, cash flows, manage Expenses, manage sales, add your customers, deal with them and see how business is getting done by them live in front of your eyes. Nijomee Technologies has its expertise to crackdown complex problems into simple handy solutions. We are much pleased to join hands with you and let's start building your own handy CRM.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-quotation></app-quotation>
