<aside>
  <!-- <section class="right_block blog_categories">
    <h2 class="title">Categories</h2>
    <ul>
      <li><a>IT</a></li>
      <li><a>Education</a></li>

    </ul>
  </section> -->

  <section class="right_block">
    <h2 class="title">Recent Posts</h2>
    <div class="blog_right_list">
      <!-- .post_item -->
      <!-- /.post_item -->
      <a class="resent-post clearfix" routerLink="/nijomee-blogs/7-key-elements-of-successful-goal-achievement">
        <div class="post-thumbs">
          <img src="assets/blog/1_thumbnail.png" class="attachment-thumbnail size-thumbnail wp-post-image"
            alt="7 Key Elements of Successful Goal Achievement">
        </div>
        <!-- /.post-thumbs -->
        <div class="content" style="display: block !important;">
          <h4>
            <span style="color: #25aff1">7Key Elements of Successful Goal Achievement</span>
          </h4>
          <span>
            <p>There is a justified statement “<strong><em>Every pro was once a noob </em></strong> “ &amp;
              rd...
            </p>
          </span>
        </div>
        <!-- /.content -->
      </a>
      <!-- .post_item -->
      <!-- /.post_item -->
      <a class="resent-post clearfix" routerLink="/nijomee-blogs/top-trending-it-technologies">
        <div class="post-thumbs">
          <img src="assets/blog/2_thumnail.png" class="attachment-thumbnail size-thumbnail wp-post-image"
            alt="Top trending IT Technologies">

        </div>
        <!-- /.post-thumbs -->
        <div class="content" style="display: block !important;">
          <h4>
            <span style="color: #25aff1">Top trending IT Technologies</span>
          </h4>

          <span>
            <p>In the last few years, IT technologies have made a very big change. The growth of ...
            </p>
          </span>
        </div>
        <!-- /.content -->
      </a>

      <!-- .post_item -->
      <!-- /.post_item -->
      <a class="resent-post clearfix" routerLink="/nijomee-blogs/data-warehouse-and-its-concepts">
        <div class="post-thumbs">
          <img src="assets/blog/3_thumbnail.png" class="attachment-thumbnail size-thumbnail wp-post-image"
            alt="Data Warehouse and its concepts">

        </div>
        <!-- /.post-thumbs -->
        <div class="content" style="display: block !important;">
          <h4>
            <span style="color: #25aff1">Data Warehouse and its concepts</span>
          </h4>

          <span>
            <p>Welcome to another blog by Nijomee Technologies. Before &nbsp;getting started...
            </p>
          </span>
        </div>
        <!-- /.content -->
      </a>


    </div>
  </section>
</aside>
