<div class="container-fluid space-top padding-l-r-30 hover-effect contactus_page">
  <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="box">
          <div class="heading space-bottom">
              <h2>Just say Hello !</h2>
              <p>Let us know more about you </p>
          </div>
      </div>
  </div>
  <div class="d-flex">
      <div class="col-md-6 col-lg-6 col-xl-6">
          <div class="box">

              <div>
                  <label>Name</label>
                  <input ID="txtName" class="form-all textOnly" placeholder="Your Name">

              </div>

              <div>
                  <label>Email Id</label>
                  <input ID="txtEmail" class="form-all  emailOnly" placeholder="Your Email">
              </div>
              <div>
                  <div class="left-inner-addon">
                      <label>Country</label>
                      <select class="form-control" >
                        <option Value="Select">Select Country</option>
                        <option Value="Afganistan">Afghanistan</option>
                        <option Value="Albania">Albania</option>
                        <option Value="Algeria">Algeria</option>
                        <option Value="American Samoa">American Samoa</option>
                        <option Value="Andorra">Andorra</option>
                        <option Value="Angola">Angola</option>
                        <option Value="Anguilla">Anguilla</option>
                        <option Value="Antigua & Barbuda">Antigua & Barbuda</option>
                        <option Value="Argentina">Argentina</option>
                        <option Value="Armenia">Armenia</option>
                        <option Value="Aruba">Aruba</option>
                        <option Value="Australia">Australia</option>
                        <option Value="Austria">Austria</option>
                        <option Value="Azerbaijan">Azerbaijan</option>
                        <option Value="Bahamas">Bahamas</option>
                        <option Value="Bahrain">Bahrain</option>
                        <option Value="Bangladesh">Bangladesh</option>
                        <option Value="Barbados">Barbados</option>
                        <option Value="Belarus">Belarus</option>
                        <option Value="Belgium">Belgium</option>
                        <option Value="Belize">Belize</option>
                        <option Value="Benin">Benin</option>
                        <option Value="Bermuda">Bermuda</option>
                        <option Value="Bhutan">Bhutan</option>
                        <option Value="Bolivia">Bolivia</option>
                        <option Value="Bonaire">Bonaire</option>
                        <option Value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                        <option Value="Botswana">Botswana</option>
                        <option Value="Brazil">Brazil</option>
                        <option Value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                        <option Value="Brunei">Brunei</option>
                        <option Value="Bulgaria">Bulgaria</option>
                        <option Value="Burkina Faso">Burkina Faso</option>
                        <option Value="Burundi">Burundi</option>
                        <option Value="Cambodia">Cambodia</option>
                        <option Value="Cameroon">Cameroon</option>
                        <option Value="Canada">Canada</option>
                        <option Value="Canary Islands">Canary Islands</option>
                        <option Value="Cape Verde">Cape Verde</option>
                        <option Value="Cayman Islands">Cayman Islands</option>
                        <option Value="Central African Republic">Central African Republic</option>
                        <option Value="Chad">Chad</option>
                        <option Value="Channel Islands">Channel Islands</option>
                        <option Value="Chile">Chile</option>
                        <option Value="China">China</option>
                        <option Value="Christmas Island">Christmas Island</option>
                        <option Value="Cocos Island">Cocos Island</option>
                        <option Value="Colombia">Colombia</option>
                        <option Value="Comoros">Comoros</option>
                        <option Value="Congo">Congo</option>
                        <option Value="Cook Islands">Cook Islands</option>
                        <option Value="Costa Rica">Costa Rica</option>
                        <option Value="Cote DIvoire">Cote DIvoire</option>
                        <option Value="Croatia">Croatia</option>
                        <option Value="Cuba">Cuba</option>
                        <option Value="Curaco">Curacao</option>
                        <option Value="Cyprus">Cyprus</option>
                        <option Value="Czech Republic">Czech Republic</option>
                        <option Value="Denmark">Denmark</option>
                        <option Value="Djibouti">Djibouti</option>
                        <option Value="Dominica">Dominica</option>
                        <option Value="Dominican Republic">Dominican Republic</option>
                        <option Value="East Timor">East Timor</option>
                        <option Value="Ecuador">Ecuador</option>
                        <option Value="Egypt">Egypt</option>
                        <option Value="El Salvador">El Salvador</option>
                        <option Value="Equatorial Guinea">Equatorial Guinea</option>
                        <option Value="Eritrea">Eritrea</option>
                        <option Value="Estonia">Estonia</option>
                        <option Value="Ethiopia">Ethiopia</option>
                        <option Value="Falkland Islands">Falkland Islands</option>
                        <option Value="Faroe Islands">Faroe Islands</option>
                        <option Value="Fiji">Fiji</option>
                        <option Value="Finland">Finland</option>
                        <option Value="France">France</option>
                        <option Value="French Guiana">French Guiana</option>
                        <option Value="French Polynesia">French Polynesia</option>
                        <option Value="French Southern Ter">French Southern Ter</option>
                        <option Value="Gabon">Gabon</option>
                        <option Value="Gambia">Gambia</option>
                        <option Value="Georgia">Georgia</option>
                        <option Value="Germany">Germany</option>
                        <option Value="Ghana">Ghana</option>
                        <option Value="Gibraltar">Gibraltar</option>
                        <option Value="Great Britain">Great Britain</option>
                        <option Value="Greece">Greece</option>
                        <option Value="Greenland">Greenland</option>
                        <option Value="Grenada">Grenada</option>
                        <option Value="Guadeloupe">Guadeloupe</option>
                        <option Value="Guam">Guam</option>
                        <option Value="Guatemala">Guatemala</option>
                        <option Value="Guinea">Guinea</option>
                        <option Value="Guyana">Guyana</option>
                        <option Value="Haiti">Haiti</option>
                        <option Value="Hawaii">Hawaii</option>
                        <option Value="Honduras">Honduras</option>
                        <option Value="Hong Kong">Hong Kong</option>
                        <option Value="Hungary">Hungary</option>
                        <option Value="Iceland">Iceland</option>
                        <option Value="Indonesia">Indonesia</option>
                        <option Value="India">India</option>
                        <option Value="Iran">Iran</option>
                        <option Value="Iraq">Iraq</option>
                        <option Value="Ireland">Ireland</option>
                        <option Value="Isle of Man">Isle of Man</option>
                        <option Value="Israel">Israel</option>
                        <option Value="Italy">Italy</option>
                        <option Value="Jamaica">Jamaica</option>
                        <option Value="Japan">Japan</option>
                        <option Value="Jordan">Jordan</option>
                        <option Value="Kazakhstan">Kazakhstan</option>
                        <option Value="Kenya">Kenya</option>
                        <option Value="Kiribati">Kiribati</option>
                        <option Value="Korea North">Korea North</option>
                        <option Value="Korea Sout">Korea South</option>
                        <option Value="Kuwait">Kuwait</option>
                        <option Value="Kyrgyzstan">Kyrgyzstan</option>
                        <option Value="Laos">Laos</option>
                        <option Value="Latvia">Latvia</option>
                        <option Value="Lebanon">Lebanon</option>
                        <option Value="Lesotho">Lesotho</option>
                        <option Value="Liberia">Liberia</option>
                        <option Value="Libya">Libya</option>
                        <option Value="Liechtenstein">Liechtenstein</option>
                        <option Value="Lithuania">Lithuania</option>
                        <option Value="Luxembourg">Luxembourg</option>
                        <option Value="Macau">Macau</option>
                        <option Value="Macedonia">Macedonia</option>
                        <option Value="Madagascar">Madagascar</option>
                        <option Value="Malaysia">Malaysia</option>
                        <option Value="Malawi">Malawi</option>
                        <option Value="Maldives">Maldives</option>
                        <option Value="Mali">Mali</option>
                        <option Value="Malta">Malta</option>
                        <option Value="Marshall Islands">Marshall Islands</option>
                        <option Value="Martinique">Martinique</option>
                        <option Value="Mauritania">Mauritania</option>
                        <option Value="Mauritius">Mauritius</option>
                        <option Value="Mayotte">Mayotte</option>
                        <option Value="Mexico">Mexico</option>
                        <option Value="Midway Islands">Midway Islands</option>
                        <option Value="Moldova">Moldova</option>
                        <option Value="Monaco">Monaco</option>
                        <option Value="Mongolia">Mongolia</option>
                        <option Value="Montserrat">Montserrat</option>
                        <option Value="Morocco">Morocco</option>
                        <option Value="Mozambique">Mozambique</option>
                        <option Value="Myanmar">Myanmar</option>
                        <option Value="Nambia">Nambia</option>
                        <option Value="Nauru">Nauru</option>
                        <option Value="Nepal">Nepal</option>
                        <option Value="Netherland Antilles">Netherland Antilles</option>
                        <option Value="Netherlands">Netherlands (Holland, Europe)</option>
                        <option Value="Nevis">Nevis</option>
                        <option Value="New Caledonia">New Caledonia</option>
                        <option Value="New Zealand">New Zealand</option>
                        <option Value="Nicaragua">Nicaragua</option>
                        <option Value="Niger">Niger</option>
                        <option Value="Nigeria">Nigeria</option>
                        <option Value="Niue">Niue</option>
                        <option Value="Norfolk Island">Norfolk Island</option>
                        <option Value="Norway">Norway</option>
                        <option Value="Oman">Oman</option>
                        <option Value="Pakistan">Pakistan</option>
                        <option Value="Palau Island">Palau Island</option>
                        <option Value="Palestine">Palestine</option>
                        <option Value="Panama">Panama</option>
                        <option Value="Papua New Guinea">Papua New Guinea</option>
                        <option Value="Paraguay">Paraguay</option>
                        <option Value="Peru">Peru</option>
                        <option Value="Phillipines">Philippines</option>
                        <option Value="Pitcairn Island">Pitcairn Island</option>
                        <option Value="Poland">Poland</option>
                        <option Value="Portugal">Portugal</option>
                        <option Value="Puerto Rico">Puerto Rico</option>
                        <option Value="Qatar">Qatar</option>
                        <option Value="Republic of Montenegro">Republic of Montenegro</option>
                        <option Value="Republic of Serbia">Republic of Serbia</option>
                        <option Value="Reunion">Reunion</option>
                        <option Value="Romania">Romania</option>
                        <option Value="Russia">Russia</option>
                        <option Value="Rwanda">Rwanda</option>
                        <option Value="St Barthelemy">St Barthelemy</option>
                        <option Value="St Eustatius">St Eustatius</option>
                        <option Value="St Helena">St Helena</option>
                        <option Value="St Kitts-Nevis">St Kitts-Nevis</option>
                        <option Value="St Lucia">St Lucia</option>
                        <option Value="St Maarten">St Maarten</option>
                        <option Value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                        <option Value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                        <option Value="Saipan">Saipan</option>
                        <option Value="Samoa">Samoa</option>
                        <option Value="Samoa American">Samoa American</option>
                        <option Value="San Marino">San Marino</option>
                        <option Value="Sao Tome & Principe">Sao Tome & Principe</option>
                        <option Value="Saudi Arabia">Saudi Arabia</option>
                        <option Value="Senegal">Senegal</option>
                        <option Value="Seychelles">Seychelles</option>
                        <option Value="Sierra Leone">Sierra Leone</option>
                        <option Value="Singapore">Singapore</option>
                        <option Value="Slovakia">Slovakia</option>
                        <option Value="Slovenia">Slovenia</option>
                        <option Value="Solomon Islands">Solomon Islands</option>
                        <option Value="Somalia">Somalia</option>
                        <option Value="South Africa">South Africa</option>
                        <option Value="Spain">Spain</option>
                        <option Value="Sri Lanka">Sri Lanka</option>
                        <option Value="Sudan">Sudan</option>
                        <option Value="Suriname">Suriname</option>
                        <option Value="Swaziland">Swaziland</option>
                        <option Value="Sweden">Sweden</option>
                        <option Value="Switzerland">Switzerland</option>
                        <option Value="Syria">Syria</option>
                        <option Value="Tahiti">Tahiti</option>
                        <option Value="Taiwan">Taiwan</option>
                        <option Value="Tajikistan">Tajikistan</option>
                        <option Value="Tanzania">Tanzania</option>
                        <option Value="Thailand">Thailand</option>
                        <option Value="Togo">Togo</option>
                        <option Value="Tokelau">Tokelau</option>
                        <option Value="Tonga">Tonga</option>
                        <option Value="Trinidad & Tobago">Trinidad & Tobago</option>
                        <option Value="Tunisia">Tunisia</option>
                        <option Value="Turkey">Turkey</option>
                        <option Value="Turkmenistan">Turkmenistan</option>
                        <option Value="Turks & Caicos Is">Turks & Caicos Is</option>
                        <option Value="Tuvalu">Tuvalu</option>
                        <option Value="Uganda">Uganda</option>
                        <option Value="United Kingdom">United Kingdom</option>
                        <option Value="Ukraine">Ukraine</option>
                        <option Value="United Arab Erimates">United Arab Emirates</option>
                        <option Value="United States of America">United States of America</option>
                        <option Value="Uraguay">Uruguay</option>
                        <option Value="Uzbekistan">Uzbekistan</option>
                        <option Value="Vanuatu">Vanuatu</option>
                        <option Value="Vatican City State">Vatican City State</option>
                        <option Value="Venezuela">Venezuela</option>
                        <option Value="Vietnam">Vietnam</option>
                        <option Value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                        <option Value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                        <option Value="Wake Island">Wake Island</option>
                        <option Value="Wallis & Futana Is">Wallis & Futana Is</option>
                        <option Value="Yemen">Yemen</option>
                        <option Value="Zaire">Zaire</option>
                        <option Value="Zambia">Zambia</option>
                        <option Value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
              </div>
              <div>
                  <label>Phone Number</label>
                  <input ID="txtPhone" class="form-all  only-number" MaxLength="13" placeholder="+91 9090909090">
              </div>

          </div>
</div>
      <div class="col-md-6 col-lg-6 col-xl-6 res-space-top-100">
          <div class="box">

              <div>
                  <label>Looking for</label><br />
                  <select class="form-control">
                      <option Value="">Looking for</option>
                      <option>Mobile App Development</option>
                      <option>Software Development</option>
                      <option>Web Development</option>
                      <option>IoT Development</option>
                      <option>Dedicated Teams</option>
                      <option>IT Consulting</option>
                      <option>Others</option>
                  </select>
              </div>

              <div>
                  <label>Select Your Budget</label><br />
                  <select ID="ddlBudget" class="form-control">
                      <option Value="">Select Your Budget</option>
                      <option>$ 100 - $ 1000</option>
                      <option>$ 1001 - $ 5000</option>
                      <option>$ 5001 - $ 10000</option>
                      <option>$ 10000 +</option>
                  </select>

              </div>

              <div>
                  <label>When you want to start your project?</label><br />
                  <select ID="ddlStart" class="form-control ">
                      <option Value="">When you want to start your project?</option>
                      <option>immediately</option>
                      <option>within a month</option>
                      <option>1 - 3 month</option>
                      <option>3 - 6 month</option>
                      <option>6+ month</option>
                  </select>
              </div>
              <div>
                <label>Alternate Phone Number</label>
                <input ID="txtPhone" class="form-all  only-number" MaxLength="13" placeholder="+91 9090909090">
            </div>

          </div>
      </div>

  </div>
    <div class="col-md-12">
          <div class="box" style="width:100%">
              <div>
                 <label>About You Project</label>
                  <input ID="txtAbout" placeholder="What's your Project About?"  MaxLength="200" TextMode="MultiLine" class="form-all">
              </div>
          </div>
      </div>
   <div class="col-md-12">
          <div class="box" style="width:100%">
              <div>
                  <label>Your Message</label>
                  <input ID="txtMessage" placeholder="Write Something ..." MaxLength="200" TextMode="MultiLine" class="form-all">
              </div>
          </div>
      </div><br />
   <div id="ReCaptchContainer"></div><br />
   <div class="col-md-12 text-left" style="margin-top: 10px">
      <span>By submitting this form, you agree to the <a routerLink="/privacy-policy">Privacy Policy</a> of Nijomee Technologies.</span>
  </div>
   <div class="col-md-12 mt-2">

      <mat-checkbox >I consent that my data will be processed electronically by Nijomee Technologies, as part of a contact request and the relationship that may result.</mat-checkbox>


  </div><br />

  <div class="col-md-12 submit-btn-parent text-left">
      <button ID="btnSubmit" type="button" class="btn btn-nrml" Text="Let's get started" OnClick="btnSubmit_Click" OnClientClick="return validateRequestQuote();">
       Submit </button>
  </div>

  <br />
</div>
