<div class="quote padding-l-r-30 hover-effect">
  <div class="row">
      <div class="col-md-8 quote-left">
          <img src="https://www.nijomee.com/images/quote.png" alt="quote" />
          <h4>Lets Get Started your Project</h4>
          <p>We can assist you in Website Services , E-commerce solutions, CMS Websites, Mobile App development, Custom Application development, Internet Marketing, Search Engine Optimization, GUI & UX Designing.</p>
      </div>
      <div class="col-md-4 quote-right">
          <a class="btn btn-web border-radius-full btn-web-black bordered" routerLink="/get-quotation">Get Quotation</a>
      </div>
  </div>
</div>
