.filter-section .btn {
  color: #fff;
  background-color: #3abfff;
  border: 1px solid #3abfff;
}

.active{
  color: #3abfff;
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #fff;
  margin-left: 10px;
  border: 1px solid #3abfff;
}
.filter-section {
  padding-bottom: 2rem;
}
.btn
{
  margin-left: 10px;
}
