<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="https://www.nijomee.com/images/screenshot/mobile/vevergreen.png" class="img-responsive box bounce-2" alt="Evergreen Kart" />
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #76c10d !important;">Evergreen Kart</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">

                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                          Exactly what the name says, Evergreen kart is an online vegetable delivery app developed by Nijomee Technologies. To make it
                  the best fresh vegetable delivery app we have built it on Native Android mobile application development technology. Evergreen
                  kart is a Highly optimized online vegetable selling app in Rohtak where users can sell & purchase veggies like Broccoli,
                  Cucumber, Cabbage, Tomato, Potato, Peas, and many more. Evergreen Kart is one of the most scalable android mobile application
                   which facilitates fresh vegetables supply chain industry to digitally transform their traditional business to online mobile
                  app or web app platforms.
                      <br />
                          <br />
                          Evergreen Kart is a B2B vegetable selling application where users can add products to the cart, place orders, track delivery
                  status, and pay online.
                      </p>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-5 mt-3">
                  <p class="white_color" style="color: #000 !important; padding-top: 0; text-align: justify">
                      This application is available in multiple languages to ease the life of common users. A complete app
                  for vegetable delivery, Evergreen kart is a new market beast for selling vegetables online and target market business growth
                  digitally.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<app-quotation></app-quotation>
