<!-- career feature section start-->
<div class="container-fluid padding-l-r-30 hover-effect">
  <div class="space-top">
    <div class="row career_img_block space-bottom">
      <div class="col-md-6">
        <div class="career_img">
          <img *ngIf="Title=='angular developer'" class="career-1"  src="assets/job/job_angular.png" alt="" />
          <img *ngIf="Title=='dot net'" class="career-1"  src="assets/job/job_dotnet.png" alt="" />
          <img *ngIf="Title=='web designer'" class="career-1"  src="assets/job/job_designer.png" alt="" />
          <img *ngIf="Title=='android developer'" class="career-1"  src="assets/job/job_android.png" alt="" />
          <img *ngIf="Title=='mean stack'" class="career-1"  src="assets/job/job_mean.png" alt="" />
          <img *ngIf="Title=='ios developer'" class="career-1"  src="assets/job/job_ios.png" alt="" />
        </div>
        <div class="career_text">
          <img src="assets/job/thumb-up.png" alt="">
          <b>Join Our Team</b>
         </div>
        <div class="career_img">
          <img *ngIf="Title=='angular developer'" class="career-2"  src="assets/job/angular.png" alt="" />
          <img *ngIf="Title=='dot net'" class="career-2"  src="assets/job/dotnet.png" alt="" />
          <img *ngIf="Title=='web designer'" class="career-2"  src="assets/job/designer.png" alt="" />
          <img *ngIf="Title=='android developer'" class="career-2"  src="assets/job/android.png" alt="" />
          <img *ngIf="Title=='mean stack'" class="career-2"  src="assets/job/meanstack.png" alt="" />
          <img *ngIf="Title=='ios developer'" class="career-2"  src="assets/job/ios.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="career_content_block" *ngIf="Title=='web designer'">
          <h3>Core skills</h3>
          <p>&nbsp;</p>
          <ul class="service-list">
          <li>Good understanding of HTML5, CSS3 and jQuery</li>
          <li>Should have created at least 2-3 layouts (PSD to HTML / Adobe XD to HTML)</li>
          <li>Good understanding of web technologies and contact management systems.</li>
          <li>Knowledge of Opensource systems like PHP, WordPress, etc would be a plus.</li>
          <li>Basic knowledge of Adobe Creative (XD/Illustrator/Photoshop) would be a plus.</li>
          <li>Good communication and interpersonal skills.</li>
          <li>Keen to learn new technologies.</li>
          <li>Quality obsessive, team player, quick learner, problem solver.</li>
          <li>GKnowledge of database like MSSQL will be a plus.</li>
          </ul>
          <p>&nbsp;</p>
          <h3>Job Description</h3>
          <p>&nbsp;</p>
          <ul class="service-list">
          <li>Front end development with HTML5, Css3, Javascript.</li>
          <li>Responsive, Bootstraps Framework</li>
          <li>CMS like WordPress, PHP Customization</li>
          <li>Slicing, Psd to Html and Theme Integration</li>
          <li>Should be able to work on Adobe Creative.</li>
          <li>Making intractive custom designs using HTML5 ,CSS3, Js ,Bootstrap.</li>
          <li>Candidate will be designing Customization banners and graphics.</li>
          <li>Creating designs that are user-friendly, effective, and appealing</li>
          </ul>
          <p>&nbsp;</p>
          </div>
        <div class="career_content_block" *ngIf="Title=='angular developer'">
          <h3>Core skills</h3>
          <p>&nbsp;</p>
          <ul class="service-list">
          <li>Framework: Minimum Angular 3+</li>
          <li>Scripting Languages: Typescript and JavaScript</li>
          <li>Working knowledge of web technologies HTML5 and CSS3</li>
          <li>Version control systems and repository management</li>
          <li>Passionate about writing clean, efficient, and maintainable code</li>
          <li>Strong analytical and debugging skills</li>
          <li>Good oral and written communication skills</li>
          <li>Must be dedicated to delivering high-quality work and adhering to timelines</li>
          <li>Good team player, good learner and a self-starter</li>
          <li>Ability to work independently</li>
          </ul>
          <p>&nbsp;</p>
          <h3>Job Description</h3>
          <p>&nbsp;</p>
          <ul class="service-list">
          <li>5 years of professional experience developing web applications using Angular, Java, HTML, CSS, JavaScript, and AJAX Cloud Integration experience is mandatory</li>
          <li>Minimum 1+ years of experience with Angular 6 or higher (Angular 8 or higher preferred).</li>
          <li>Experience integrating/consuming AWS services (Amazon cloud) in Angular required.</li>
          <li>Basic experience in integrating with AWS/ any of the cloud technologies Angular 6 or above is preferred (No AngularJS)</li>
          <li>Note: HTML, CSS is mandatory</li>
          </ul>
          </div>
          <div class="career_content_block"  *ngIf="Title=='dot net'">
            <h3>Core skills</h3>
            <p>&nbsp;</p>
            <ul class="service-list">
            <li>Good communication skills, team player</li>
            <li>Knowledge of .NET web framework, Javascript, Jquery, MVC</li>
            <li>Understanding fundamental design principles behind a scalable application</li>
            </ul>
            <p>&nbsp;</p>
            <h3>Job Description</h3>
            <p>&nbsp;</p>
            <ul class="service-list">
            <li>Atleast 6+ months of .Net development experience (ASP.Net 3.5 or greater and C# 4 or greater)</li>
            <li>Proficient in C#, with a good knowledge of its ecosystems</li>
            <li>Must have knowledge of SQL Data base.</li>
            <li>Java Script, JQuery, Angular JS, and Cascading style sheet (CSS) and HTML5.</li>
            <li>Strong understanding of object-oriented programming</li>
            <li>Troubleshoot technical issues.</li>
            </ul>
            <p>&nbsp;</p>
            </div>
          <div class="career_content_block" *ngIf="Title=='mean stack'">
            <h3>Core skills</h3>
            <p>&nbsp;</p>
            <ul class="service-list">
            <li>Good knowledge of coding standards, design patterns, unit testing.</li>
            <li>Expertise in building scalable &amp; reliable systems.</li>
            <li>Strong analytical and problem-solving skills.</li>
            <li>Timely creation of appropriate technical artifacts e.g. Application Architecture, Database Schema, Sequence diagrams, Class diagrams, etc.</li>
            <li>Must have excellent written and verbal communication skills.</li>
            </ul>
            <p>&nbsp;</p>
            <h3>Job Description</h3>
            <p>&nbsp;</p>
            <ul class="service-list">
            <li>Experience implementing applications using Angular 5 or above</li>
            <li>Hands-on experience with JavaScript Development on both client and server-side</li>
            <li>Experience with modern frameworks and design patterns, minimum one-year experience with MEAN Fullstack paradigm</li>
            <li>Building interactive consumer data from multiple systems and RESTfully abstract to the UI through a Node.js backend</li>
            <li>Should have hands-on experience NodeJS, MongoDB, ReactJS, and ExpressJS</li>
            <li>Knowledge of cloud platforms like AWS will be plus</li>
            </ul>
            <p>&nbsp;</p>
            </div>
            <div class="career_content_block" *ngIf="Title=='android developer'">
              <h3>Core skills</h3>
              <p>&nbsp;</p>
              <ul class="service-list">
              <li>Understanding of Google’s Android design principles and interface guidelines</li>
              <li>Good knowledge of java</li>
              <li>Must be Proficient in Object-Oriented Programming</li>
              <li>Strong understanding of the full mobile development life cycle</li>
              <li>Must have a strong understanding of the services used in Android applications</li>
              </ul>
              <p>&nbsp;</p>
              <h3>Job Description</h3>
              <p>&nbsp;</p>
              <ul class="service-list">
              <li>Strong knowledge of Android SDK, different versions of Android, and how to deal with different screen sizes</li>
              <li>Familiarity with RESTful APIs to connect Android applications to back-end services</li>
              <li>Strong knowledge of Android UI design principles, patterns, and best practices</li>
              <li>Experience with offline storage, threading, and performance tuning</li>
              <li>Ability to design applications around natural user interfaces, such as touch</li>
              <li>Familiarity with the use of additional sensors, such as gyroscopes and accelerometers</li>
              <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks</li>
              <li>Ability to understand business requirements and translate them into technical requirements</li>
              <li>Familiarity with cloud message APIs and push notifications</li>
              <li>A knack for benchmarking and optimization</li>
              <li>Proficient understanding of code versioning tools, such as Git</li>
              </ul>
              <p>&nbsp;</p>
              </div>
              <div class="career_content_block" *ngIf="Title=='ios developer'">
                <h3>Core skills</h3>
                <p>&nbsp;</p>
                <ul class="service-list">
                <li>Must be Proficient in Object-Oriented Programming.</li>
                <li>Strong understanding of the full mobile development life cycle.</li>
                <li>Must have a strong understanding of the services used in Iphone applications.</li>
                <li>Basic knowledge of the coding in Objective C / Swift</li>
                <li>Ability to learn technology quickly through instruction and selftraining.</li>
                <li>Good knowledge in Installing, Configuring developement environment.</li>
                <li>Able to work individually on Projects.</li>
                </ul>
                <p>&nbsp;</p>
                <h3>Job Description</h3>
                <p>&nbsp;</p>
                <ul class="service-list">
                <li>6 months+ experience of software development experience.</li>
                <li>1 year of hands experience on iOS SDK experience in a professional environment.</li>
                <li>Knowledge in Developing Mobile Applications for Iphone/ ipad Using Iphone Sdk.</li>
                <li>Experience in Design and Development On Mac OS using Objective C, Cocoa, Ant and Tools like Xcode technologies.</li>
                <li>Knowledge of Apple Iphone Application Guidelines and Compliance Requirements.</li>
                </ul>
                <p>&nbsp;</p>
                </div>
      </div>

    </div>
  </div>
</div>
<!-- career section content end-->
<app-query-form></app-query-form>
