.mat-icon
{
  width: 50px;
  height: 50px;
}
.material-icons
{
  font-size: 44px;
}
.header.inner-header-small{
height: 600px !important;
}
.hdng-pg
{
  top: 26% !important;
}
.color1:hover {
  border: 1px solid #fd6a33;
}

.color2:hover {
  border: 1px solid #0071bc;
}

.color3:hover {
  border: 1px solid #ffd23b;
}

.color4:hover {
  border: 1px solid #34a853;
}

.color5:hover {
  border: 1px solid #ea4335;
}
.tech-android
{
background:url(/assets/tech-combined.png) 0px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-angular
{
background:url(/assets/tech-combined.png) -200px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-crm
{
background:url(/assets/tech-combined.png) -400px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-dotnet
{
background:url(/assets/tech-combined.png) -600px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-hybrid
{
background:url(/assets/tech-combined.png) -800px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-ios
{
background:url(/assets/tech-combined.png) -1000px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-magento
{
background:url(/assets/tech-combined.png) -1200px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-mongo-db
{
background:url(/assets/tech-combined.png) -1400px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-node
{
background:url(/assets/tech-combined.png) -1600px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-php
{
background:url(/assets/tech-combined.png) -1800px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-react
{
background:url(/assets/tech-combined.png) -2000px -0px;
width:200px;height:90px;
display:inline-block;
}

.tech-wordpress
{
background:url(/assets/tech-combined.png) -2200px -0px;
width:200px;height:90px;
display:inline-block;
}
