<div class="wrapper">
  <section id="home" data-anchor="home">
    <div class="container-fluid padding-l-r-30 tab-space-bottom">
      <div class="row">

        <div class="service_wrapper_home show-on-large">
          <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
            <a routerLink="/web-development">
              <div class="service-card color1">
                <div class="services-img-wrapper">

                    <picture>
                      <source type="image/webp" srcset="assets/web-icon.png.webp">
                      <img class="services-img" src="/assets/web-icon.png" alt="Web App Development" title="Web App Development" >
                    </picture>
                  <div class="text-wrapper">
                    <p class="Service-sub-type text-black">Web App</p>
                    <p class="Service-sub-small">Development</p>
                  </div>
                </div>
                <div class="services-img-wrapper">
                  <i class="fa fa-arrow-right service-arrow"></i>
                  <span class="service-circle service-clr-orng xtra"></span>
                </div>

              </div>
            </a>
          </div>

          <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
            <a routerLink="/mobile-development">
              <div class="service-card color3">
                <div class="services-img-wrapper">
                  <picture>
                    <source type="image/webp" srcset="/assets/mobile-app.png.webp">
                    <img class="services-img" src="/assets/mobile-app.png" alt="Mobile App Development" title="Mobile App Development" >
                  </picture>

                  <div class="text-wrapper">
                    <p class="Service-sub-type text-black">Mobile App</p>
                    <p class="Service-sub-small">Development</p>
                  </div>
                </div>
                <div class="services-img-wrapper">
                  <i class="fa fa-arrow-right service-arrow"></i>
                  <span class="service-circle service-clr-yellow xtra"></span>
                </div>

              </div>
            </a>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
            <a routerLink="/cms-development">
              <div class="service-card color2">
                <div class="services-img-wrapper">
                  <picture>
                    <source type="image/webp" srcset="/assets/cms-icon.png.webp">
                    <img class="services-img" src="/assets/cms-icon.png" alt="CMS Development" title="CMS Development" >
                  </picture>
                  <div class="text-wrapper">
                    <p class="Service-sub-type text-black">CMS</p>
                    <p class="Service-sub-small">Development</p>
                  </div>
                </div>
                <div class="services-img-wrapper">
                  <i class="fa fa-arrow-right service-arrow"></i>
                  <span class="service-circle service-clr-blue xtra"></span>

                </div>

              </div>
            </a>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
            <a routerLink="/software-development">
              <div class="service-card color4">
                <div class="services-img-wrapper">
                  <picture>
                    <source type="image/webp" srcset="/assets/software-icon.png.webp">
                    <img class="services-img" src="/assets/software-icon.png" alt="Software Development" title="Software Development" >
                  </picture>

                  <div class="text-wrapper">
                    <p class="Service-sub-type text-black">Software</p>
                    <p class="Service-sub-small">Development</p>
                  </div>
                </div>
                <div class="services-img-wrapper">
                  <i class="fa fa-arrow-right service-arrow"></i>
                  <span class="service-circle service-clr-green xtra"></span>

                </div>

              </div>
            </a>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
            <a routerLink="/cloud-computing">
              <div class="service-card color5">
                <div class="services-img-wrapper">
                  <picture>
                    <source type="image/webp" srcset="/assets/cloud-icon.png.webp">
                    <img class="services-img" src="/assets/cloud-icon.png" alt="Cloud Development" title="Cloud Development" >
                  </picture>

                  <div class="text-wrapper">
                    <p class="Service-sub-type text-black">Cloud</p>
                    <p class="Service-sub-small">Computing</p>
                  </div>
                </div>
                <div class="services-img-wrapper">
                  <i class="fa fa-arrow-right service-arrow"></i>
                  <span class="service-circle service-clr-red xtra"></span>
                </div>

              </div>
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>


<!-- end carousel -->


<div class="clearfix"></div>
<!-- <div class="service_wrapper_home show-on-small">
  <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
    <div class="service-card">
      <a routerLink="/web-development">
        <div class="services-img-wrapper">

          <img class="services-img" src="https://nijomee.com/assets/ecom.png" alt="E Commerece" title="E Commerece" />
          <div class="text-wrapper">
            <p class="Service-sub-type text-black">Web</p>
            <p class="Service-sub-small">Development</p>
          </div>
        </div>
        <i class="icon-right-arrow service-arrow"></i>
        <span class="service-circle service-clr-orng xtra"></span>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
    <div class="service-card">
      <a routerLink="/mobile-development">
        <div class="services-img-wrapper">
          <img class="services-img" src="https://nijomee.com/assets/mobile-app.png" alt="Mobile Application" />
          <div class="text-wrapper">
            <p class="Service-sub-type text-black">Mobile App</p>
            <p class="Service-sub-small">Development</p>
          </div>
        </div>
        <i class="icon-right-arrow service-arrow"></i>
        <span class="service-circle service-clr-yellow xtra"></span>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
    <div class="service-card">
      <a routerLink="/cms-development">
        <div class="services-img-wrapper">
          <img class="services-img" src="https://nijomee.com/assets/cmss.png" alt="CMS" title="CMS" />
          <div class="text-wrapper">
            <p class="Service-sub-type text-black">CMS</p>
            <p class="Service-sub-small">Development</p>
          </div>
        </div>
        <i class="icon-right-arrow service-arrow"></i>
        <span class="service-circle service-clr-blue xtra"></span>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
    <div class="service-card">
      <a routerLink="/software-development">
        <div class="services-img-wrapper">
          <img class="services-img" src="https://nijomee.com/assets/software-development.png" alt="Software Development"
            title="Software Development" />
          <div class="text-wrapper">
            <p class="Service-sub-type text-black">Software</p>
            <p class="Service-sub-small">Development</p>
          </div>
        </div>
        <i class="icon-right-arrow service-arrow"></i>
        <span class="service-circle service-clr-green xtra"></span>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-lg-2 col-xl-2 col-sm-12 col-xs-12">
    <div class="service-card">
      <a routerLink="/cloud-computing" runat="server">
        <div class="services-img-wrapper">
          <img class="services-img" src="https://nijomee.com/assets/cloud-computing.png" alt="Cloud Computing"
            title="cloud Computing" />
          <div class="text-wrapper">
            <p class="Service-sub-type text-black">Cloud</p>
            <p class="Service-sub-small">Computing</p>
          </div>
        </div>
        <i class="icon-right-arrow service-arrow"></i>
        <span class="service-circle service-clr-red xtra"></span>
      </a>
    </div>
  </div>
</div> -->
<!-- About Us-->
<div class="container-fluid padding-l-r-30 about-us hover-effect">
  <div class="d-flex">
    <div class="col-md-6 p-3">
      <div class="heading">
        <h2>About Us</h2>
        <p>Something about us.</p>
      </div>
      <h3>NIJOMEE TECHNOLOGIES PVT LTD</h3>
      <p class="justified-text">
        Nijomee Technologies Private Limited is the best web and mobile app development company in Rohtak-Haryana. We
        are a professional team of smart developers and logical thinkers. We are providing top business solutions with a
        realistic approach to automate traditional business strategies into modern business methods. Nijomee
        technologies is providing the best software and app development services in Rohtak-Haryana. Industry
        Professionals with an expert development team of 15+ persons we stand strong among one of the top software &
        mobile app development services providing companies. Nijomee as the best software services provider and business
        solutions provider has been dealing with every latest technology. With Our higher experienced Microsoft
        certified solution architects professionals land expert teammates, we are more than best for providing solutions
        that fit exactly to the client's expectations. With a record of having 5+ national and 10+ international happy
        and satisfied clients, Nijomee as a web & mobile development company has established its presence in Canada as
        well in USA markets. With an exponential success rate as the best IT service providing company in
        Rohtak-Haryana, we are successfully heading towards the best product-based company ahead.
      </p>
    </div>
    <div class="col-md-6 ">
      <div class="about-right-inner">
        <div class="about-right-sub-inner">
          <img src="assets/carrer/carrer-bottom.png">
          <!-- <embed width="100%" height="430" src="https://www.youtube.com/embed/FRi4uuiWckg" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> -->
          <!-- <iframe width="100%" height="430" src="https://www.youtube.com/embed/FRi4uuiWckg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Us End-->

<!-- Services-->
<div class="container-fluid padding-l-r-30 hover-effect service_main_wrapper">
  <div class="d-flex">
    <div class="col-md-12">
      <div class="heading">
        <h2>Services</h2>
        <p>Integrated Digital Solutions.</p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap all-services">
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="/mobile-development">
        <div class="service-name">Android Apps</div>
        <div class="service-icon">
          <mat-icon>android</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="/web-development">
        <div class="service-name">Web Development</div>
        <div class="service-icon">
          <mat-icon>important_devices</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="/mobile-development">
        <div class="service-name">iOS Apps</div>
        <div class="service-icon">
          <i class="fa fa-apple"></i>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="#">
        <mat-icon>design_services</mat-icon>
        <p>Logo Design</p>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="/uiux-designer">
        <mat-icon>devices</mat-icon>
        <p>UI/UX Design</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="#" class="portfolio">Span Of Services
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="#">
        <mat-icon class="material-icons material-icons-outlined">wb_incandescent</mat-icon>
        <p>Devops</p>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="/cms-development">

        <mat-icon class="material-icons material-icons-outlined">touch_app</mat-icon>
        <p> Business Solutions </p>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="/cms-development">
        <mat-icon>laptop_mac</mat-icon>
        <p>CMS</p>
      </a>
    </div>
    <div class="col-md-2 col-sm-12 services-sort">
      <a routerLink="/digital-marketing">
        <mat-icon class="material-icons material-icons-outlined">campaign</mat-icon>
        <p>Digital Marketing</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="#">
        <div class="service-name">QA &amp; Testing</div>
        <div class="service-icon">
          <mat-icon class="material-icons material-icons-outlined">bug_report</mat-icon>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 services-sort">
      <a routerLink="/services">
        <div class="service-name">E-commerece</div>
        <div class="service-icon">
          <mat-icon class="material-icons material-icons-outlined">shopping_cart</mat-icon>
        </div>
      </a>
    </div>
  </div>
</div>

<!--assurance Section-->
<div class="container-fluid padding-l-r-30 assurance-wrapper">
  <ul class="assurance-section">
    <li>
      <picture>
        <source type="image/webp" srcset="/assets/experience.png.webp">
        <img src="/assets/experience.png" alt="Nijomee-Experience" />
      </picture>

      <h4>10+ Years</h4>
      <p>OF INDUSTRY EXPERIENCE</p>
    </li>
    <li>
      <picture>
        <source type="image/webp" srcset="/assets/assured-quality.webp">
        <img src="/assets/assured-quality.png" alt="Nijomee-assured-Quality" />
      </picture>


      <h4>Assured</h4>
      <p>HIGH QUALITY</p>
    </li>
    <li>
      <picture>
        <source type="image/webp" srcset="/assets/roi.webp">
        <img src="/assets/roi.png" alt="Nijomee-rate of interest" />
      </picture>

      <h4>ROI</h4>
      <p>FOCUSED STRATEGIES</p>
    </li>
    <li>
      <picture>
        <source type="image/webp" srcset="/assets/centric-solution.webp">
        <img src="/assets/centric-solution.png" alt="Nijomee-centric-solution" />
      </picture>

      <h4>Customer</h4>
      <p>CENTRIC SOLUTIONS</p>
    </li>
    <li>
      <picture>
        <source type="image/webp" srcset="/assets/delivery.webp">
        <img src="/assets/delivery.png" alt="Nijomee-assured-delivery" />
      </picture>

      <h4>On-Time</h4>
      <p>DELIVERY</p>
    </li>
  </ul>
</div>
<!--assurance Section End-->
<!--testimonials-->
<div class="container-fluid padding-l-r-30 technologies_wrapper hover-effect">
  <div class="">
    <div class="col-md-12">
      <div class="heading">
        <h2>Technologies</h2>
        <p>Integrated Digital Solutions.</p>
      </div>
    </div>
  </div>
  <div class="row logo-row">

  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/angular-logo.png" alt="angular logo" />
        <p class="text-center pb-2">Angular</p>
    </div>
  </div>


  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/material-logo.png" alt="material logo" />
        <p class="text-center pb-2">Material Design</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/dot-net-logo.png" alt="dot net logo" />
        <p class="text-center pb-2">ASP .Net</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/microsoft-crm-logo.png" alt="microsoft crm logo" />
        <p class="text-center pb-2">Microsoft Dynamics CRM </p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/mongo-logo.png" alt="mongo dblogo" />
        <p class="text-center pb-2">Mongo DB</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/nodejs-logo.png" alt="nodejs logo" />
        <p class="text-center pb-2">NodeJS</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/aws-logo.png" alt="aws logo" />
        <p class="text-center pb-2">AWS</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/azure-logo.png" alt="azure logo" />
        <p class="text-center pb-2">Azure</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/php-logo.png" alt="php logo" />
        <p class="text-center pb-2">PHP</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/react-logo.png" alt="react logo" />
        <p class="text-center pb-2">React</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/wordpress-logo.png" alt="wordpress logo" />
        <p class="text-center pb-2">Wordpress</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/umbraco-logo.png" alt="Umbraco logo" />
        <p class="text-center pb-2">Umbraco</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/drupal-logo.png" alt="Drupal logo" />
        <p class="text-center pb-2">Drupal</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/magento-logo.png" alt="Magento logo" />
        <p class="text-center pb-2">Magento</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/python-logo.png" alt="wordpress logo" />
        <p class="text-center pb-2">Python</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/sql-logo.png" alt="SQL Server" />
        <p class="text-center pb-2">SqlServer</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/mean-logo.png" alt="Mean Stack logo" />
        <p class="text-center pb-2">Mean Stack</p>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="logo-box">
        <img class="logo-icon" src="assets/technology/icon/full-stack-logo.png" alt="Full Stack logo" />
        <p class="text-center pb-2">Full Stack</p>
    </div>
  </div>
</div>
   <!-- <div class="d-flex flex-wrap justify-content">
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/microsoft.webp">
          <img src="/assets/technology/microsoft.png" alt="Microsoft" title="Microsoft" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/microsoft-crm.webp">
          <img src="/assets/technology/microsoft-crm.png" alt="microsoft-Dynamic-CRM" title="microsoft Dynamic CRM" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/node.webp">
          <img src="/assets/technology/node.png" alt="Node" title="Node" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/mongo.webp">
          <img src="/assets/technology/mongo.png" alt="Mongo" title="Mongo" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/android.webp">
          <img src="/assets/technology/android.png" alt="Android" title="Android" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/angular.webp">
          <img src="/assets/technology/angular.png" alt="Angular" title="Angular" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/ios.webp">
          <img src="/assets/technology/ios.png" alt="ios" title="ios" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/hybrid.webp">
          <img src="/assets/technology/hybrid.png" alt="Hybrid" title="Hybrid" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/php.webp">
          <img src="/assets/technology/php.png" alt="php" title="php">
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/react.webp">
          <img src="/assets/technology/react.png" alt="React" title="React" aria-required="true" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/wordpress.webp">
          <img src="/assets/technology/wordpress.png" alt="Wordpress" title="Wordpress" />
        </picture>

      </div>
      <div class="item slide-items">
        <picture>
          <source type="image/webp" srcset="/assets/technology/magento.webp">
          <img src="/assets/technology/magento.png" alt="magento" title="magento" />
        </picture>

      </div>
  </div> -->
</div>


<!-- Development Modal -->

<div class="container-fluid">
  <div class="row development-modal">
    <div class="development-modal-bg padding-l-r-30 technologies_wrapper hover-effect">
      <div class="position-relative">
        <div class="heading heading-white">
          <h2>DEVELOPEMENT MODELS</h2>
          <p>Integrated Digital Solutions.</p>
        </div>
        <p class="development-text">Nijomee Technologies offers two models of development engagement to ensure every
          expectation to be met in today's regular changing market place.</p>
      </div>
    </div>
    <div class="row development-modal-content padding-l-r-30 technologies_wrapper hover-effect">
      <div class="col-md-6">
        <div class="development-modal-content-inner">
          <h5>Dedicated Team Model</h5>
          <p class="justified-text">
            For taking the maximum control over the resource bandwidth this model
            is highly preferred. In this model, the expert resource is dedicatedly assigned to the client's
            only projects and works under the direct control of the client to make maximum out of it.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="development-modal-content-inner">
          <h5>Fix Bid Model</h5>
          <p class="justified-text">
            Under this model the scope and deliverables are discussed first for the first level of
            acceptance with the fixed bid price and timelines and the complete project is converted into various
            milestones which are then designed/developed and tracked regularly for efficient output.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padding-l-r-30 testimonials hover-effect">
  <div class="testimonials-wrapper">
    <div class="heading heading-white">
      <h2>Testimonial</h2>
      <p>Integrated Digital Solutions.</p>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="row">

        <div class="col-md-6">
          <div class="slide-caption">
            <div class="testimonials-left">
              <div class="client-profile">
                <img src="assets/default.png" alt="amit-singal" title="Amit Singal" />
              </div>
            </div>
            <div class="testimonials-right">
              <div class="name-designation">
                <h4>Mr. Amit Singal</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, StartupBuddy</small>
              </div>
              <div class="client-reviews">
                <p class="text-white">Dedicated team and always responsive. We have got all our work on time and with
                  uttermost quality.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="slide-caption">
            <div class="testimonials-left">
              <div class="client-profile">
                <img src="/assets/default.png" alt="Finaxo , APS" title="Mr. Ankit Agarwal" />
              </div>
            </div>
            <div class="testimonials-right">
              <div class="name-designation">
                <h4>Mr. Ankit Agarwal</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, Finaxo , APS</small>
              </div>
              <div class="client-reviews">
                <p class="text-white">Nijomee as an IT partner has perfectly streamlined all our business flow into
                  digital platforms. Their efforts are always appreciable.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="row">
        <div class="col-md-6">
          <div class="slide-caption">
            <div class="testimonials-left">
              <div class="client-profile">
                <img src="/assets/defaultf1.jpg" alt="tulika arora" title="Tulika Arora" />
              </div>
            </div>
            <div class="testimonials-right">
              <div class="name-designation">
                <h4>Mrs. Tulika Arora</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, lil Chunks</small>
              </div>
              <div class="client-reviews">
                <p class="text-white">Great team with great enthusiasm. Team is always there to help at every level.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="slide-caption">
          <div class="testimonials-left">
          <div class="client-profile">
          <img src="/assets/default.png" alt="Florecers" title="Lalit Gupta" />
          </div>
          </div>
          <div class="testimonials-right">
          <div class="name-designation">
          <h4>Mr. Lalit Gupta</h4>
          <div class="border-testimonial"></div>
          <small>Founder & CEO, Florecers</small>
          </div>
          <div class="client-reviews">
          <p>We have been looking for a perfect IT partner. Thanks Nijomee Technologies for givig us a hand of perfection and trust.</p>
          </div>
          </div>
          </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="row">

          <div class="col-md-6">
            <div class="slide-caption">
            <div class="testimonials-left">
            <div class="client-profile">
            <img src="/assets/default.png" alt="neel-singal" title=" Neel Singal" />
            </div>
            </div>
            <div class="testimonials-right">
            <div class="name-designation">
            <h4>Mr. Neel Singal</h4>
            <div class="border-testimonial"></div>
            <small>Founder & CEO, Nurilo</small>
            </div>
            <div class="client-reviews">
            <p class="text-white">Getting my site designed and running on my domain name was really a mess for me, Finally thanks to Nijomee.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="slide-caption">
            <div class="testimonials-left">
            <div class="client-profile">
            <img src="/assets/default.png" alt="adheesh-raj-bhalla" title="Deepak Dua" />
            </div>
            </div>
            <div class="testimonials-right">
            <div class="name-designation">
            <h4>Mr. Deepak Dua</h4>
            <div class="border-testimonial"></div>
            <small>Founder & CEO, My Dreamz World</small>
            </div>
            <div class="client-reviews">
            <p class="text-white">In starting we feel some hick ups with adopting technology, but now we are very much fine in it just due to Nijomee.</p>
            </div>
            </div>
            </div>
            </div>

        </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="row">
            <div class="col-md-6">
              <div class="slide-caption">
              <div class="testimonials-left">
              <div class="client-profile">
              <img src="/assets/default.png" alt="adheesh-raj-bhalla" title="Adheesh Raj Bhalla" />
              </div>
              </div>
              <div class="testimonials-right">
              <div class="name-designation">
              <h4>Mr. Adheesh Raj Bhalla</h4>
              <div class="border-testimonial"></div>
              <small>Founder & CEO, Flyzer</small>
              </div>
              <div class="client-reviews">
              <p class="text-white">Regular updates for the work progress, Nijomme & the team have a great working culture with the organized structure to deliver things ON-Time.</p>
              </div>
              </div>
              </div>
              </div>
              <div class="col-md-6">
              <div class="slide-caption">
              <div class="testimonials-left">
              <div class="client-profile">
              <img src="/assets/default.png" alt="Ripan Sehgal" title="Ripan Sehgal" />
              </div>
              </div>
              <div class="testimonials-right">
              <div class="name-designation">
              <h4>Mr. Ripan Sehgal</h4>
              <div class="border-testimonial"></div>
              <small>Founder & CEO, Tarot Teller</small>
              </div>
              <div class="client-reviews">
              <p class="text-white">
              Got Exhausted from fake hands, After a long way finally I met a team of game changers and experienced minds. They have proven their excellence and gave me what I was looking for. Thank you, guys.
              </p>
              </div>
              </div>
              </div>
              </div>

          </div>

          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-6">
                <div class="slide-caption">
                <div class="testimonials-left">
                <div class="client-profile">
                <img src="/assets/default.png" alt="Sandeep Sehgal" title="Sandeep Sehgal" />
                </div>
                </div>
                <div class="testimonials-right">
                <div class="name-designation">
                <h4>Mr. Sandeep Sehgal</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, Free Horoscope</small>
                </div>
                <div class="client-reviews">
                <p class="text-white">NIjomee has really taken down all burden from my shoulders. I always worried about a stable solution, today my app has 10,000+ downloads without any failures. Thanks, team for giving such a level of satisfaction.</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="slide-caption">
                <div class="testimonials-left">
                <div class="client-profile">
                <img src="/assets/default.png" alt="Anshu Bhatla" title="Anshu Bhatla" />
                </div>
                </div>
                <div class="testimonials-right">
                <div class="name-designation">
                <h4>Mr. Anshu Bhatla</h4>
                <div class="border-testimonial"></div>
                <small>Founder & CEO, Bharat Glass</small>
                </div>
                <div class="client-reviews">
                <p class="text-white">A solution-oriented company with experienced personalities. The team is always available to support. Kudos to the team.</p>
                </div>
                </div>
                </div>
                </div>


            </div>

            </ng-template>
    </owl-carousel-o>
  </div>
</div>
<app-quotation></app-quotation>
