<div class="container-fluid">
  <div class="container-fluid space-top padding-l-r-30 hover-effect">
      <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12">
              <div class="about-heading">
                  <h2 class="text-center">About The Project</h2>
                  <p class="badge badge-primary">Meet with Our Clients</p>
              </div>
              <p class="text-center">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                         book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged.
              </p>
          </div>
      </div>

      <div class="row col-md-12">
          <div class="about-heading col-md-12">
              <h2 class="text-center">Objectives</h2>
          </div>
          <div class="text-center col-md-6">
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                         book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged.
              </p>
          </div>
          <div class="text-center col-md-6">
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                         book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged.
              </p>
          </div>
      </div>
  </div>
</div>
<!-- client detalis section end-->

<!-- what we did section start-->
<div class="container-fluid what-do margin-t-150 clients">
  <h2 class="col-md-12 text-center">What We Did</h2>
  <div class="row what-row text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="col-md-3 col-sm-12">
          <div class="what-col">
              <img class="step" src="https://www.nijomee.com/images/step-1.png" alt="step-1" /><br />
              <img class="what-img" src="https://www.nijomee.com/images/websitedesign.png" alt="website design" />
              <p class="text-center">
                  Website<br />
                  Design
              </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-12">
          <div class="what-col">
              <img class="step" src="https://www.nijomee.com/images/step-2.png" alt="step-2" /><br />
              <img class="what-img" src="https://www.nijomee.com/images/software-deve.png" alt="software Development" />
              <p class="text-center">
                  Software<br />
                  Development
              </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-12">
          <div class="what-col">
              <img class="step" src="https://www.nijomee.com/images/step-3.png" alt="step-3" /><br />
              <img class="what-img" src="https://www.nijomee.com/images/android-deve.png" alt="Android App Development" />
              <p class="text-center">
                  Android App<br />
                  Development
              </p>
          </div>
      </div>
      <div class="col-md-3 col-sm-12">
          <div class="what-col">
              <img class="step" src="https://www.nijomee.com/images/step-4.png" alt="step-4" /><br />
              <img class="what-img" src="https://www.nijomee.com/images/support-maintenance.png" alt="Support Maintenance" />
              <p class="text-center">
                  Support and<br />
                  Maintenance
              </p>
          </div>
      </div>
  </div>
</div>
<!-- what we did section end-->

<!-- Website Screens section start-->
<div class="container-fluid website-screens margin-t-50">
  <h2 class="col-md-12 text-center">Website Screens</h2>
  <div class="row website-row text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="website-content">
          <img src="https://www.nijomee.com/images/responsive-screen.png" alt="mobile & web screen" /><br />
          <a class="client-btn" href="#">View Website</a>
      </div>
  </div>
</div>
<!-- Website Screens section end-->

<app-query-form></app-query-form>
