<div class="container-fluid  hover-effect">

  <div class="row padding-all space-bottom">
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Mobile Application Development</h3>
        <p class="justified-text">
          Let our Mobile app development team gives you the most amazing experience of developing high-end scalable and flexible mobile app solutions.
          Competing as one of the best mobile app development companies in {{city}}, Nijomee technologies are regularly delivering optimized mobile applications.
          Covering all top Android, IOS & hybrid app development verticals, We possess expertise in serving a complete business solution in your ground. With the most efficient and mere approach.
          Our team of developers owns their core competency in providing high edge solutions into an easily organized approach for our clients.
        </p>
        <p class="justified-text">
          <b>Inshort we have providing you a bundle of serivces which includes :- </b>
        </p>
        <div class="row column-wrapper">
          <div class="col-sm-12 col-lg">
            <div class="service-content">
              <ul class="service-list">
                <li>Great Responsive Mobile App User Interface </li>
                <li>High end scalable and flexible Mobile Apps Solution</li>
                <li>Deliver the Custom-Made Apps</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg">
            <div class="service-content">
              <ul class="service-list">
                <li>User-Friendly Apps with enrich UI/UX Design</li>
                <li>Native App and Hybrid App Development</li>
                <li>Andriod and IOS verticals</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/mobile_app_development.svg" class="center box bounce-2" alt="Mobile App Development"
            title="Mobile App Development">

      </div>
    </div>
  </div>
 <div class="row padding-l-r-30  padding-t-b-30 techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                      <h3 class="heading_h3 pb-4 text-center ">Technology Expertise</h3>
                    </div>


                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/android-logo.png" alt="android logo" />
                        <p class="text-center pb-2">Android</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/ios-logo.png" alt="ios logo" />
                        <p class="text-center pb-2">IOS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/swift-logo.png" alt="native logo" />
                        <p class="text-center pb-2">Swift</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/kotlin-logo.png" alt="native logo" />
                        <p class="text-center pb-2">Kotlin</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/hybrid-logo.png" alt="hybrid logo" />
                        <p class="text-center pb-2">Hybrid</p>
                    </div>
                  </div>

                  <!-- <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/react-logo.png" alt="react logo" />
                        <p class="text-center pb-2">React Native</p>
                    </div>
                  </div> -->
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/flutter-logo.png" alt="flutter logo" />
                        <p class="text-center pb-2">Flutter</p>
                    </div>
                  </div>

              </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 icon-text">
      <h3 class="heading_h3 pb-2 text-center ">Strategy from How It Looks to How It Works!</h3>

  </div>
    <div class="row bg-gray abstract-section padding-t-p-30 ">

      <div class="col-md-12 text-center">

          <img src="assets/service/infographics/mobile-development.png" alt="App development Infographic" />
      </div>
  </div>

  <div class="row padding-all space-bottom">
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/android_app_dev.svg" class="center box bounce-2"
            alt="Andriod Application Development" title="Andriod Application Development">

      </div>
    </div>
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Andriod App Development</h3>

        <p class="justified-text">
          Android software development is the process by which applications are created for devices running the Android
          operating system.
          To intended smart applications for touch screen phones and Tablets, Android is the prioritized platform for
          development.
          Android uses the Java language environment with enriching frameworks to develop innovative apps.

          <br>
          Nijomee Technologies a top Android app development company leads the core Android application development with
          the best team and procedures.
          As a leading best android development company in {{city}}, we have handed over multiple Android apps in more
          than 6 different business verticals.
        </p>
        <div class="justified-text">
          <ul class="service-list">
            <li>Andriod Studio</li>
            <li>Java</li>
            <li>Support for latest andriod verisons</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-l-r-30  padding-t-b-30 space-bottom">
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>IOS App Development </h3>
        <p class="justified-text">
          Touch the most premium sector of users with a Top-class top IOS development company and leverage the
          advantages of
          Uncompromising dynamic IOS applications. We make the apps on Swift which earlier using objective .
          Continuous updates for the IOS by Apple Inc make it a powerful, robust operating system for your devices.
          Nijomee Technologies is the best IOS development company in {{city}} that adheres to all the determined
          industry standards & turns out with an out-of-the-box solution that you can rely upon.
        </p>
        <div class="justified-text">
          <ul class="service-list">
            <li>Swift , Xcode</li>
            <li>Lates IOS version support</li>
            <li>IPad & IMAC applications</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/ios_app_dev.svg" class="center box bounce-2" alt="IOS Application Development"
            title="IOS Application Development">


      </div>
    </div>
  </div>

  <div class="row padding-l-r-30  padding-t-b-30 space-bottom">
    <div class="col-md-6 ">
      <div class="service_img_bloc">

          <img src="assets/service/hybrid_app.svg" class="center box bounce-2"
            alt="Hybrid Mobile Application Development" title="Hybrid Mobile Application Development">

      </div>
    </div>
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>Hybrid App Development</h3>
        <p class="justified-text">
          Position as the best Best Hybrid App Development Company in {{city}}, we encased the classical experience of
          hybrid applications using platforms like Cordova to our clients.
          Applications written for iOS using Swift cannot run on Android, and vice versa. Meaning, you have to develop
          specifically for each platform, which can lead to a larger budget and team size.
          A Hybrid approach gives a smarter way to get the next big thing quickly to market with a cost-effective,
          resourceful cross-platform mobile strategy, especially for business Startups.
        </p>
        <div class="justified-text">
          <ul class="service-list">
            <li>Angular 6+,React Native,DART</li>
            <li>Ionic framework React Native,Flutter</li>
            <li>Android & iOS Platform</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- page content end-->

<app-query-form></app-query-form>
