<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="assets/portfolio/mobile/vbrand_wings.png" class="img-responsive box bounce-2" alt="Brand wings" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #71407F  !important;">Brand Wings</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                        Give Wings to your business and make it fly high. Capture more customers and keep them in touch with our premium product "Brand Wings". Brand Wings is a platform where business owners can make free templates and banners for their business. They can create multiple designs for their businesses and can write informative stuff valuable for their customers.
                        <br>
                        <br>Brand Wings works in favor so growing businesses keep them in touch with their regular customers.

                        This app also helps business owners to inform the customer about their new services and new discount offers and many more. With Brand, Wings give a Hight Fly to your business.
                      </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<app-quotation></app-quotation>

