<div class="container-fluid padding-all">
    <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
        <div class=" portfolio pl-5 pr-5">
            <div class="row">
                <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <img src="assets/portfolio/mobile/vrrc.png" class="img-responsive box bounce-2" alt="Rati Ram Chander" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="d-flex">
                        <div class="heading">
                            <h2 style="color: #142134 !important;">Rati Ram Chander</h2>
                            <p>Something about user</p>
                        </div>
                    </div>
                    <div class="mrgn-top-xl text-left" style="margin-top: 0;">

                        <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify"><br />
                            Rati Ram Chander is an appointment booking mobile application, crafted delicately by Nijomee Technologies.RRC mobile
                    application is best appointment booking system with customized features where a user can Book appointments online,
                    Online payment system to receive payments choosing from any of the Online & Offline modes.

                            <br />
                            <br />
                            Making a user's life easier,
                    this appointmnet booking mobile app also had an In-built E-Shop feature to sell product online via app,product owners can
                    list their various products from the given Web application admin or web admin.
                            RRC as a appointment booking mobile application facilitates with both customer login as well admin login feature.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb-5 mt-3">
                    <p class="white_color" style="color: #000 !important; padding-top: 0; text-align: justify">
                        Admin login
                    helps product owners to take care of all booked slots and organize their schedule accordingly.As one of the best appointment
                    booking mobile app by Nijomee Technologies, user can take complete advantage of a proper schedule management system.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quotation></app-quotation>
