
    <!-- page content start-->
    <div class="container-fluid padding-all hover-effect">

      <div class="row  space-bottom">
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>Web Application Development</h3>
                  <p class="justified-text">
                      Build your own customizable solution with the most expertise development approach, We are serving in more than 10 business
                      domains. Our senior directors and well-established team of Developers in {{city}} have a concrete methodology to make a robust system
                      that enables our customers to tackle any challenges.
                  </p>
                  <p class="justified-text">
                      <b>See how we give shape to our development model :- </b>
                  </p>
                  <div class="row column-wrapper">
                      <div class="col-sm-12 col-lg">
                          <div class="service-content">
                              <ul class="service-list">
                                  <li>Understanding Your business </li>
                                  <li>Designs And Mock Ups</li>
                                  <li>Front End Development </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-sm-12 col-lg">
                          <div class="service-content">
                              <ul class="service-list">
                                  <li>Back End Development</li>
                                  <li>Complete Quality Assurance </li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-6 option">
              <div class="service_img_bloc">
                <picture>
                  <source type="image/webp" srcset="/assets/service/web_development.webp">
                  <img src="assets/service/web_app_development.png" class="center box bounce-2" alt="Web Application Development" title="Web Application Development">
                </picture>

              </div>
          </div>
      </div>
      <div class="row techno-logo space-bottom">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row logo-row">
                    <div class="col-md-12 icon-text">
                        <h1 class="icon-text pb-2">Technology Expertise</h1>
                    </div>

                   <div class="col-md-2 ">
                      <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/html-logo.png" alt="html logo" />
                        <p class="text-center pb-2">Html 5</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/css-logo.png" alt="css logo" />
                        <p class="text-center pb-2">CSS 3</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/bootstrap-logo.png" alt="bootstrap logo" />
                        <p class="text-center pb-2">Bootstrap</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/tailwind-logo.png" alt="tailwind logo" />
                        <p class="text-center pb-2">Tailwind CSS</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/angular-logo.png" alt="angular logo" />
                        <p class="text-center pb-2">Angular</p>
                    </div>
                  </div>

                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/material-logo.png" alt="material logo" />
                        <p class="text-center pb-2">Material Design</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/dot-net-logo.png" alt="dot net logo" />
                        <p class="text-center pb-2">ASP .Net</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/microsoft-crm-logo.png" alt="microsoft crm logo" />
                        <p class="text-center pb-2">Microsoft Dynamics CRM </p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/mongo-logo.png" alt="mongo dblogo" />
                        <p class="text-center pb-2">Mongo DB</p>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/nodejs-logo.png" alt="nodejs logo" />
                        <p class="text-center pb-2">NodeJS</p>
                    </div>
                  </div>

                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/react-logo.png" alt="react logo" />
                        <p class="text-center pb-2">React</p>
                    </div>
                  </div>


                  <div class="col-md-2 ">
                    <div class="logo-box">
                        <img class="logo-icon" src="assets/technology/icon/full-stack-logo.png" alt="wordpress logo" />
                        <p class="text-center pb-2">Full Stack</p>
                    </div>
                  </div>

              </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid connection-section margin-t-50">
      <div class="row col-md-12">
        <div class="col-md-12 icon-text">
          <h1 class="icon-text text-white mb-4 p-4">Technology Expertise</h1>
          <img class="graphic-icon" src="assets/technology/graphic/web-development.png" alt="wordpress logo" />

      </div>

         </div>
    </div> -->

      <div class="row  space-bottom">
          <div class="col-md-6 option">
              <div class="service_img_bloc">
                <picture>
                  <source type="image/webp" srcset="/assets/service/front_end_development.webp">
                  <img src="assets/service/front_end_development.png" class="center box bounce-2" alt="front-end-development" title="front end development">
                </picture>

              </div>
          </div>
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>Front End Development</h3>
                  <p class="justified-text">
                      A perfection plus UI completely matched to designed mockups with pixel-perfect accuracy. Our team will serve you no doubt as
                      it is what you have ever think of. Giving life to your product and charge it with the power we use stunning animations,
                      dynamic effects, and real-world images so that you can get a sharp-looking and extremely professional developed product in  {{city}} .
                  </p>
                  <div class="justified-text">
                      <ul class="service-list">
                          <li>Un compromised performance</li>
                          <li>Little to big real effects</li>
                          <li>Perfect spacing and arrangments of buttons/Tabs</li>
                          <li>Most interactive and consistent UX across the entire application</li>
                      </ul>
                    </div>
              </div>
          </div>
      </div>

      <div class="row  space-bottom">
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>Back End Development</h3>
                  <p class="justified-text">
                      Give your Web Application a Powerful Engine. Architect the core of web development to make a robust & feature oriented
                      application. With a team of highly experienced certified solution architects and technical managers, we unleash the
                      optimization and scalability of the development in {{city}}.
                  </p>
                  <div class="justified-text">
                      <ul class="service-list">
                          <li>Security features to protect your users, processes, and data</li>
                          <li>In-depth scalability to handle complex workflows</li>
                          <li>Solid API & Database architectures</li>
                          <li>Easy space to integrate any Third-Party services</li>
                          <li>flexibility and reliability of code structure</li>
                      </ul>
                    </div>
              </div>
          </div>
          <div class="col-md-6 option">
              <div class="service_img_bloc">
                <picture>
                  <source type="image/webp" srcset="/assets/service/back_end_development.webp">
                  <img src="assets/service/back_end_development.png" class="center box bounce-2" alt="back-end-development" title="Back end development">
                </picture>

              </div>
          </div>
      </div>

      <div class="row  space-bottom">
          <div class="col-md-6 option">
              <div class="service_img_bloc">
                <picture>
                  <source type="image/webp" srcset="/assets/service/quality_assurance.webp">
                  <img src="assets/service/quality_assurance.png" class="center box bounce-2" alt="quality assurance" title="quality assurance">
                </picture>
              </div>
          </div>
          <div class="col-md-6">
              <div class="service_content_block">
                  <h3>Complete Quality Assurance</h3>
                  <p class="justified-text">
                      From the initial step, we make up our QA strategies to test end to end developed features. QA plays an important part to
                      roll out your applications with proper working functionality. With manual and automated frameworks we ensure to analyze
                       small to big functionality so that our customers have a green flag to enroll their web application in {{city}}.
                  </p>
                  <div class="justified-text">
                      <ul class="service-list">
                          <li>Automate complex tasks</li>
                          <li>Reduce unnecessary time and cost </li>
                          <li>Reduce unnecessary time and cost </li>
                          <li>Transparent and healthy progress look afters</li>
                      </ul>
                    </div>
              </div>
          </div>
      </div>
  </div>

  <!-- page content end-->


  <app-query-form></app-query-form>
