<div class="container-fluid padding-all">
  <div class="cmpny_ovrview bg_white" style="background-color: #ffffff; padding-top: 0px;">
      <div class=" portfolio pl-5 pr-5">
          <div class="row">
              <div class="portfolio-img col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <img src="assets/portfolio/mobile/vdream_team.png" class="img-responsive box bounce-2" alt="Dream Team 11" />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="d-flex">
                      <div class="heading">
                          <h2 style="color: #DA1D29 !important;">Cric Team 11</h2>
                          <p>Something about user</p>
                      </div>
                  </div>
                  <div class="mrgn-top-xl text-left" style="margin-top: 0;">
                      <p class="white_color mb-2" style="color: #000 !important; padding-top: 0; text-align: justify">
                        Crick Team is the most famous Indian sports platform with a crazy 5 million-plus users' downloads. Crick Team gives its users the ultimate experience of playing different sports games like
                        Cricket, Football, Hockey, etc. Crick team is one of the popular and finest gaming applications where multiple users can join and play games.
                        Crick Team not only a gaming platform, but user gets access to the latest news and stories for different games and matches. Here Users get the live match status and live commentary under single-eye view. On top of this users have access to features like regular tips and featured videos.

                        Crick Team provides a superior experience to its users and never fails to fulfill their expectations. The Crick team app supports both English and Hindi language. Users can switch to any language with a single click.
                        Under an umbrella, users get ultimate features like Top news features, the latest and trending story, and optimum entertainment.
                      </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<app-quotation></app-quotation>

