

<!-- client content section start-->
<div class="row col-md-12 client-content">
  <div class="row bg-yellow col-md-12 space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>StartUp Buddy</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Startup Buddy is a one-stop-shop offering end-to-end solutions of financial and startup advisory services. Startup buddy has its core experiences in setting up best startup practices, managing accounts & compliances, payroll & hr services, handling an investment round or raising funds, virtual CFO, internal controls & SOP preparation, and much more. Providing services in core financial domains, startup buddy helps startups to get high scalability and grow their business with ease. As one of the premium client, Nijomee technologies has been providing complete IT services. </p>

              <div class="justified-text">
                  <b>Our services to StartUp Buddy :-</b>
                  <ul class="service-list">
                      <li>Website Development</li>
                      <li>Software Development</li>
                      <li>Web App Development</li>
                      <li>Support and Maintenance</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/startup-buddy.png" alt="startupbuddy-logo" />
          </div>
      </div>
  </div>



  <div class="row col-md-12 bg-blue space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/aasgn.png" alt="aasg-logo" />
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>AASG</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Atul Automotive safety Glass is one of India's leading glass product manufacturing & integration company. AASG has been
                  delivering quality automative glass since 1975. AASG has been dealing in a variety of glass services under their own
                  product categories which include Insulated glasses, Laminated glasses, Tempered glasses, and more.AASG as a wide distributer
                   of glasses is servicing its customers in 3 states of India.</p>
              <div class="justified-text">
                  <b>Our services to AASG :-</b>
                  <ul class="service-list">
                      <li>Support & maintainence of AASG webiste</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>

  <div class="row col-md-12 space-bottom client-customer">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <img class="client-img" src="https://www.nijomee.com/images/customer-experience.png" alt="customer-experience" />
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6"><br /><br /><br /><br />
          <h3>Customer Experience</h3>
          <img src="https://www.nijomee.com/images/black-line.png" alt="line" /><br /><br />
          <p>
              Trusted by clients all over the globe," Nijomee Technologies" takes immense pride in the work we do. We have been serving more
              than 15 national as well as international happy clients. Under a very small time span, Nijomee Technologies has built a great
              customer desk by providing best in class business solutions and digital transformations. </p>
          <p>
              Big achievements come from great
              relations. In Nijomee we always focus on the customer requirements and make sure to deliver everything they need with a bit
              extra to add up and customize their user experience.
          </p>
          <br />
              <p class="client-btn"><a routerLink="#">View Customer Experience</a></p>
      </div>
  </div>

  <div class="row bg-yellow col-md-12 space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Tonnij</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Digital Market place of local loads. Tonnij is a Dump truck industry Fleet management system covering the major provinces of
                  Canada. Tonnij is a digital platform/app, where Costumers can have better control over the drivers and can view the documents
                   like lading bills, bills of gas, refill costs, etc. as soon as they are uploaded. Tonnij app enables its Contractors to
                  collect several data from the documents uploaded by the drivers and analyses them to unlock novel business opportunities.
              </p>
              <div class="justified-text">
                  <b>Our services to Nurilo :-</b>
                  <ul class="service-list">
                      <li>Andriod Mobile Application</li>
                      <li>IOS Mobile application</li>
                      <li>Web admin Portal</li>
                      <li>Website Development</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/tonnij.png" alt="tonnij-logo" />
          </div>
      </div>
  </div>

  <div class="row col-md-12 bg-blue space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/florecer.png" alt="florecer-logo" />
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Florecer</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Florecers is one of the fastest-growing organizations in the agro-food vertical which is providing Product Quality Testing Service. Florecers as quality testers have developed their own testing products, which include Antifols,pestifols dairy products, pestifols feed products. To serve chemical less food florecers is dealing with Milk products and feed products. </p>
              <div class="justified-text">
                  <b>Our services to Florecer :-</b>
                  <ul class="service-list">
                      <li>Website Development</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>

  <div class="row bg-yellow col-md-12 space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Alcor Solutions</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>
                 Alcor Solutions Inc. is a global digital transformation services company serving Fortune 500, Government Agencies, and other
                   leading organizations in multiple industry verticals across the US, Canada, Europe, Japan, and India. Alcor is a Software
                  as a service (SaaS) platforms providers to give their industrial clients cost-effective, rapid implementations of cloud
                  solutions.
              </p>
              <div class="justified-text">
                  <b>Our services to Alcor Solutions :-</b>
                  <ul class="service-list">
                      <li>Website Support</li>
                      <li>Website Maintainence</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/alcor.png" alt="alcor-logo" />
          </div>
      </div>
  </div>


  <div class="row col-md-12 bg-blue space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/cimplified-control.png" alt="cimplified-control-logo" />
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Cimplified Control</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Cimplified Controls typically design control & automation solutions in the field of Power, Water, Pharma & Building Management
                  Systems with the state of the art technology that performs much better than more costly design. Cimplified Controls helps to
                  make up-gradation of the old system which ultimately helps you not to dispose off your existing system. Using various ways to
                   revamp existing systems for their clients with minimum shutdown time.</p>
              <div class="justified-text">
                  <b>Our services to Cimplified Control :-</b>
                  <ul class="service-list">
                      <li>Web SCADA integration solution for a solar power plant located in Byas.</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>

  <div class="row bg-yellow col-md-12 space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Nurilo</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>
                  Nurilo is a corporate uniform & gifting solution company.Nurilo is Serving multiple ranges of products be it Corporate
                  uniforms, school uniforms, home appliances, gadgets, stationaries, and the list goes on.Nurilo as a corporate uniform and
                  gifting solution has a very good clientage some of them are cars24, leixir, advantage club, startup buddy, etc.
              </p>
              <div class="justified-text">
                  <b>Our services to Nurilo :-</b>
                  <ul class="service-list">
                      <li>Website Development</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" style="padding-bottom: 50px;" src="https://www.nijomee.com/images/nurilo.png" alt="nurilo-logo" />
          </div>
      </div>
  </div>

  <div class="row col-md-12 bg-blue space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/finaxo.png" alt="finaxo-logo" />
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>Finaxo solution Pvt. Ltd</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Finaxo is one of the leading Fastag services providers in Pan India. Finaxo is providing fastag owners a comfort to manage
                  their Fastag services and recharge connections directly with their phones. Finaxo has been dealing in providing complete
                   Fastag services from online purchase to lifetime maintain of fastag cards. Finaxo is a one-stop solution for fastag services.
              </p>
              <div class="justified-text">
                  <b>Our services to Finaxo :-</b>
                  <ul class="service-list">
                      <li>Andiod Mobile application development & Maintainance</li>
                      <li>Web application Development & Maintainance</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>



  <div class="row bg-yellow col-md-12 space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>APS Fastag</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>
                  Nurilo is a corporate uniform & gifting solution company.Nurilo is Serving multiple ranges of products be it Corporate
                  uniforms, school uniforms, home appliances, gadgets, stationaries, and the list goes on.Nurilo as a corporate uniform and
                  gifting solution has a very good clientage some of them are cars24, leixir, advantage club, startup buddy, etc.
              </p>
              <div class="justified-text">
                  <b>Our services to APS Fastag :-</b>
                  <ul class="service-list">
                      <li>Website Development</li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" style="padding-bottom: 50px;" src="https://www.nijomee.com/images/aps.png" alt="aps-logo" />
          </div>
      </div>
  </div>

  <div class="row col-md-12 bg-blue space-bottom">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_img_block">
              <img class="center client-logo" src="https://www.nijomee.com/images/dreamzjobs.png" alt="Dreamz Jobs-logo" />
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
          <div class="client_txt_block">
              <h3>My Dreamz Jobs</h3>
              <img src="https://www.nijomee.com/images/black-line.png" alt="line" />
              <p>Dreamz Jobs is a professional recruitment service providing companies to top-level companies looking for all levels of
                  employment from junior to middle and senior management in a wide sector of career fields. Dreamz job has its own recruitment
                   portal that gives candidates to get their dream job in their hands. With the untapped market and available Talent, Dreamz
                   jobs is the leading agency offering first-class recruitment services capable of attracting the very best talent for
                  organizations.
              </p>
              <div class="justified-text">
                  <b>Our services to Dreamz Jobs :-</b>
                  <ul class="service-list">
                      <li>Web Site development </li>
                      <li>Web application Development</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>

</div>
<!-- client content section end-->


<app-query-form></app-query-form>
