<div class="container-fluid">
  <div class="container-fluid space-top padding-l-r-30 hover-effect">
      <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12">
              <div class="about-heading">
                  <h2 class="text-center">Welcome to Nijomee Technology</h2>
                  <p class="badge badge-primary">Meet With our Team</p>
              </div>

          </div>
      </div>

  </div>
</div>
<div class="container margin-t-50 clients" style="padding-bottom: 30px!important;">
  <div class="row">
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="/assets/default.png" alt="Virender-img">
                  </div>
                  <figcaption>
                      <h4>Virender Khurana</h4>
                      <p>Chief Operation Officer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/default.png" alt="Joginder-img">
                  </div>
                  <figcaption>
                      <h4>Joginder Malhotra</h4>
                      <p>Chief Technical Officer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/meenakshi.jpeg" alt="meenakshi-img">
                  </div>
                  <figcaption>
                      <h4>Meenakshi Malhotra</h4>
                      <p>HR Manager</p>
                  </figcaption>
              </figure>
          </div>
      </div>

      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/ankur.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Ankur Behl</h4>
                      <p>Data Analyst</p>
                  </figcaption>
              </figure>
          </div>
      </div>



      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/garima.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Garima</h4>
                      <p>Software Engineer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
        <div class="team-member">
            <figure>
                <div class="team-img">
                    <div class="team-overlay">
                        <ul class="team-social">
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                            </li>
                        </ul>
                        <span class="line-team line-team-1"></span>
                        <span class="line-team line-team-2"></span>
                        <span class="line-team line-team-3"></span>
                        <span class="line-team line-team-4"></span>
                    </div>
                    <img src="/assets/default.png" alt="Virender-img">
                </div>
                <figcaption>
                    <h4>Deepak </h4>
                    <p>Web Developer</p>
                </figcaption>
            </figure>
        </div>
    </div>
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/harish.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Harish Ruhil</h4>
                      <p>Android Lead</p>
                  </figcaption>
              </figure>
          </div>
      </div>

      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/rohit.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Rohit</h4>
                      <p>Android Developer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/ravinder.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Ravinder</h4>
                      <p>Android Developer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/default.png" alt="">
                  </div>
                  <figcaption>
                      <h4>Aditya</h4>
                      <p>IOS Lead Developer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
        <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                      <img src="https://www.nijomee.com/images/Team/sakshi.jpeg" alt="">
                  </div>
                  <figcaption>
                      <h4>Sakshi</h4>
                      <p>Digital Marketing Executive</p>
                  </figcaption>
              </figure>
          </div>
      </div>

      <div class="team-list col-md-3">
          <div class="team-member">
              <figure>
                  <div class="team-img">
                      <div class="team-overlay">
                          <ul class="team-social">
                              <li>
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-facebook-square"></i></a>
                              </li>
                          </ul>
                          <span class="line-team line-team-1"></span>
                          <span class="line-team line-team-2"></span>
                          <span class="line-team line-team-3"></span>
                          <span class="line-team line-team-4"></span>
                      </div>
                     <img src="https://www.nijomee.com/images/Team/gurpreet.jpeg" alt="web designer">
                  </div>
                  <figcaption>
                      <h4>Gurpreet Kaur</h4>
                      <p>Web Designer</p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="team-list col-md-3">
        <div class="team-member">
            <figure>
                <div class="team-img">
                    <div class="team-overlay">
                        <ul class="team-social">
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                            </li>
                        </ul>
                        <span class="line-team line-team-1"></span>
                        <span class="line-team line-team-2"></span>
                        <span class="line-team line-team-3"></span>
                        <span class="line-team line-team-4"></span>
                    </div>
                    <img src="/assets/default.png" alt="Virender-img">
                </div>
                <figcaption>
                    <h4>Priyanka </h4>
                    <p>Ios Developer</p>
                </figcaption>
            </figure>
        </div>
    </div>
  </div>
</div>
<app-quotation></app-quotation>
