$white: #ffffff;
$dark: #323a46;
$gray: #646463;
$primary:#65c7f5;
$secondary: #4E2C58;
$primary-light: #56c7fdd6;
$header-bg: #00599f;
$link: rgb(0, 89, 159);
$social-color:#f7f8f8;
$table-heading: #f18300;
$yellow: #ffe867;
$primary-size: 12px;
$light-gray: #eeeeee;
$primary-space: 16px;
$danger: rgb(255, 77, 99);
$red: #ff3b3b;
$success: #125c14;
$primary-dark: #29487f;
$light-theme: #e8f3fd;
$primary-background: #00599f;
$primary-color: #3c4043;
$font: 'Poppins',
sans-serif;
$primary-color: #3c4043;
$gray2: #848c97;
$heading-light: #c9ddec;
$gray1: #1a1a1a;
$regular: 400;
$semi-bold: 500;
$bold: 600;
$phone: 480px;
$f-xxs: 12px;
$f-xs: 13px;
$f-s: 14px;
$f-a: 15px;
$f-m: 16px;
$f-l: 17px;
$f-xl: 18px;
$f-xxl: 19px;
$phone-landscape: 576px;
$phone-sm:360px;
$tablet: 767px;
$laptopview: 991px;
$laptop: 1024px;
$dekstop: 1280px;
$large: 1360px;
$font-sm: 14px;
$f-xxs: 12px;
$f-xs: 13px;
$f-s: 14px;
$f-a: 15px;
$f-m: 16px;
$f-l: 17px;
$f-xl: 18px;
$f-xxl: 19px;
$f-xxxl: 30px;
$horizontal-top-bg: $secondary;
$content-bg: #222840;
$border-color: #2a2c40;
// $horizontal-top-bg: theme-color(primary);
$horizontal-top-navbar-height: 65px;
$horizontal-menu-padding: 0 1rem;
$horizontal-menu-height: 57px;
$horizontal-top-menu-item-color: #ffffff;
$horizontal-top-font-size: 1rem;
$horizontal-bottom-bg: #ffffff;
$horizontal-bottom-menu-item-color: #686868;
$horizontal-top-bg: $primary;
$horizontal-bottom-menu-item-icon-color: theme-color(primary);
$horizontal-bottom-menu-item-active-color: theme-color(primary);
$horizontal-menu-submenu-color: #202339;
$horizontal-bottom-menu-item-font-size: .875rem;
$horizontal-bottom-menu-item-hover-bg: transparent;
$horizontal-bottom-menu-item-hover-color: theme-color(primary);
$horizontal-menu-item-padding: .75rem 0;
$horizontal-menu-icon-font-size: 1.25rem;
$horizontal-menu-submenu-item-padding: .85rem 0;
$horizontal-menu-box-shadow: 0 19px 34px -15px #d2d2f2;
$theme-colors: ( primary: #65c7f5, secondary: #a3a4a5, success: #125c14, info: #3da5f4, warning: #fda006, danger: #f1536e, light: #f8f9fa, dark: #08113b);
