<footer class="connect-section">
  <div class="container-fluid padding-all padding-t-b-15">
      <div class="d-flex">
          <div class="col-md-3 certificates hover-effect">
              <div class="footer-heading res-space-top-50">
                  <h5>Certifications</h5>
              </div>
              <picture>
                <source srcset="/assets/iso.png.webp" type="image/webp">
                <img src="/assets/iso.jpg" alt="iso" title="iso" >
              </picture>
              <picture>
                <source srcset="/assets/startupindia.png.webp" type="image/webp">
                <img src="/assets/startupindia.png" alt="startupindia" title="startupindia" >
              </picture>

              <picture>
                <source srcset="/assets/certified-partner.png.webp" type="image/webp">
                <a routerLink="https://onboarding.payumoney.com/app/account?partner_name=Joginder+Malhotra&partner_source=Affiliate+Links&partner_uuid=11ea-ab04-28324038-8aca-0a696b110fde&source=Partner" target="_blank">
                <img src="/assets/certified-partner.png" alt="certified-partner" title="certified-partner" > </a>
              </picture>
          </div>
          <div class="col-md-3 hover-effect">
              <div class="footer-heading res-space-top-50">
                  <h5>Useful Links</h5>
              </div>
              <ul>
                  <li><a routerLink="/index">Home</a></li>
                  <li><a routerLink="/about-us">About Us</a></li>
                  <li><a routerLink="/team">Team</a></li>
                  <li><a routerLink="/career">Career</a></li>
                  <li><a routerLink="/portfolio">Our Work</a></li>
                  <li><a routerLink="/contact">Contact us</a></li>

              </ul>
              <div  class="inline-block social-links">
               <a href="https://www.facebook.com/nijomee/" target="_blank"> <i class="fa fa-facebook "></i></a>
               <a href="https://www.linkedin.com/company/nijomee/" target="_blank">  <i class="fa fa-linkedin "></i></a>
                <a href="#" >  <i class="fa fa-twitter "></i></a>
                <a href="https://www.instagram.com/nijomeetechnologies/" target="_blank">  <i class="fa fa-instagram "></i></a>
              </div>
          </div>
          <div class="col-md-3 multiple-menus hover-effect">
              <div class="footer-heading res-space-top-50">
                  <h5>Our Offerings</h5>
              </div>
              <ul>
                  <li><a routerLink="/web-development">Web Development</a></li>
                  <li><a routerLink="/mobile-development">Mobile App Development</a></li>
                  <li><a routerLink="/cms-development">CMS Solutions</a></li>
                  <li><a routerLink="/software-development">Software Development</a></li>
                  <li><a routerLink="/cloud-computing">Cloud Computing</a></li>
                  <li><a routerLink="/digital-marketing">Digital Marketing</a></li>
                  <li><a routerLink="/nijomee-training-cum-workshop-program">Training Workshop</a></li>
              </ul>
          </div>
          <div class="col-md-3 hover-effect">
              <div class="footer-heading res-space-top-50">
                  <h5>Reach Us</h5>
              </div>
              <ul>
                  <strong>India</strong>
                  <li>1st Floor, Ashoka Plaza, Delhi Road, Rohtak-Haryana-124001, INDIA
                      <br />
                      +91 88 588 01234</li>
                  <strong>Canada</strong>
                  <li>104 Leeward Drive, Brampton, ON L6S 5V9 CA, CANADA
                      <br />
                      +1 50 680 46587</li>
                  <strong>Mail Us</strong>
                  <li><a routerLink="mailto:nijomee@hotmail.com">nijomee@hotmail.com</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>

<div class="footer-line">
  <div class="col-md-12 row">
      <div class="col-md-6 ">
          <p>© copyright by Nijomee Technologies Pvt. Ltd. </p>
      </div>
      <div class="col-md-6">
          <ul class="sub-footer">
               <li><a routerLink="/privacy-policy">Privacy Policy</a></li>  |
               <li><a routerLink="/terms-and-conditions">Terms And Conditions</a></li>  |
               <li><a routerLink="#">Disclaimer</a></li>
          </ul>
      </div>
  </div>
</div>
