  <!-- career feature section start-->
  <div class="container-fluid padding-l-r-30 hover-effect">
    <div class="space-top">
        <div class="row career_img_block space-bottom">
            <div class="col-md-6">
                <div class="career_img">
                    <img class="career-1" src="assets/workshop.png" alt="workshopbanner" title="" />
                </div>
                <div class="text-center career_text">
                    By<br />
                    10+ Years Industry Experts
                </div>
                <div class="career_img">
                    <img class="career-2" src="assets/workshop-2.png" alt="workshopbanner" title="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="career_content_block">
                    <h3>About The Program</h3>
                    <p class="justified-text">
                        Following the same agenda, we have curated this course, especially for aspiring computer science graduates so they can
                        pursue their dream career opportunities. Nijomee Technologies has aims to highlight the hidden talent and potential of
                        the students. Expanding knowledge base in their respective fields of interests, guide the best path to achieve their
                        targeted goals.
                    </p>
                    <div class="justified-text">
                        <b>What you will be getting in our workshops:-</b>
                        <ul class="career-list">
                            <li>Brainstorming facts about IT.</li>
                            <li>Live career counseling sessions for students.</li>
                            <li>Get in touch with MNC 's experts and learn how to be job-ready.</li>
                            <li>Workshop sessions on the trending IT technologies.</li>
                            <li>Real-time scenarios to cop real-world problems.</li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- career section content end-->

<!-- what we did section start-->
<div class="container-fluid what-do margin-t-50 clients">
    <h2 class="col-md-12 text-center">Planned Workshop</h2>
    <div class="row what-row text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="col-md-3 col-sm-12">
            <div class="what-col">
                <img class="step" src="assets/prog-1.png" alt="prog-1" /><br />
                <img class="what-img" src="assets/android-deve.png" alt="Android App Development" />
                <p class="text-center">
                    Android App<br />
                    Development
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="what-col">
                <img class="step" src="assets/prog-2.png" alt="prog-2" /><br />
                <img class="what-img" src="assets/ios-app.png" alt="Ios Development" />
                <p class="text-center">
                    IOS<br />
                    Development
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="what-col">
                <img class="step" src="assets/prog-3.png" alt="prog-3" /><br />
                <img class="what-img" src="assets/data-analytics.png" alt="Data Analytics" />
                <p class="text-center">
                    Data<br />
                    Analytics
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="what-col">
                <img class="step" src="assets/prog-4.png" alt="prog-4" /><br />
                <img class="what-img" src="assets/aws.png" alt="Amazon Web Services (AWS)" />
                <p class="text-center">
                    Amazon Web<br />
                    Services (AWS)
                </p>
            </div>
        </div>
    </div>
</div>
<!-- what we did section end-->

<app-query-form></app-query-form>
