<!-- page content start-->
<div class="container-fluid hover-effect">

  <div class="row padding-all space-bottom">
    <div class="col-md-6">
      <div class="service_content_block">
        <h3>DevOps</h3>
        <p class="justified-text">
          Devops means “Development + Operations”. A scalable and fast-growing approach which gives organizations a
          boost to deliver applications in a faster way, compared to traditional approaches.
          At nijomee, we know the market is evolving driblet Ly and also the demand for the user. To deliver continues
          upgradations into the product and continues serving, we ingestion entire automations procedures so that our
          customers and their customers won’t suffer in fulfillment of their demands in {{city}}.


        </p>
        <p class="justified-text">
          DevOps tools and Automations is demanded of a new age. Nijomee’s DevOps service is completely prone towards
          the business acceleration and helps to sustain speed in product development, testing, deployments and agile
          mechanism.
          We make sure to deliver application speedier by using continues integration / continues deployment (CI/CD)
          pipelines which helps to get enhanced productivity and operational performance.

        </p>

      </div>
    </div>
    <div class="col-md-6 option">
      <div class="service_img_bloc">

        <img src="assets/service/devops.svg" class="center box bounce-2" alt="Devops Development"
          title="Devops Development">


      </div>
    </div>
  </div>

  <div class="col-md-12 icon-text">
    <h3 class="heading_h3 pb-2 text-center ">Strategy from How It Looks to How It Works!</h3>
  </div>
  <div class="row bg-gray abstract-section padding-t-p-30 ">

    <div class="col-md-12 text-center">
      <img src="assets/service/infographics/devops.png" alt="Devops Infographic" />
    </div>
  </div>
</div>
<div class="row padding-all space-bottom">
  <div class="col-md-6 ">
    <div class="service_img_bloc">

      <img src="assets/service/devops1.svg" class="center box bounce-2" alt="UI/UX Designs Professional Road Map"
        title="UI/UX Designs Professional Road Map">

    </div>
  </div>
  <div class="col-md-6">
    <div class="service_content_block">
      <h3>UI/UX Designs Professional Road Map</h3>
      <p class="justified-text">
        Our best practices breaks out complexities into simplicity, with our simplified approach we deliver optimum
        applications which also results in {{city}}
      </p>
      <div class="justified-text">
        <ul class="service-list">
          <li> Centralized information</li>
          <li> Scalable performance</li>
          <li> Fast delivery</li>
          <li> End-to-End automation </li>

        </ul>
      </div>

    </div>
  </div>
</div>


<div class="row padding-l-r-30  padding-t-b-30 space-bottom">
  <div class="col-md-6">
    <div class="service_content_block">
      <h3>DevOps Services </h3>
      <h4>Scalable Cloud Migration</h4>
      <p class="justified-text">
        We helps organization to increase performance quality by migrating their workspaces into scalable cloud systems.
        Enhancing the application speed into a digital transformation process, making it a performance booster for any
        applications.
      </p>
      <h4>Automation Pipelines </h4>
      <p class="justified-text">
        Automation suites to give seamless integrations and deployments, which intent to make work life more easier and
        increase productivity.
      </p>
      <h4>Process Management </h4>
      <p class="justified-text">
        Ensuring regular monitoring and application delivering by keeping In track of complete CI/CD process and taking
        complete security management.
      </p>
    </div>
  </div>
  <div class="col-md-6 ">
    <div class="service_img_bloc">

      <img src="assets/service/devops.svg" class="center box bounce-2" alt="End-to-End Design"
        title="End-to-End Design">


    </div>
  </div>
</div>
<!-- page content end-->


<app-query-form></app-query-form>
